<!-- Todo -->
<div id="todo" class="card card-light">
  <div class="card-header ch-alt">
    <h2>Lista de Tarefas <small>Gerencie suas tarefas</small></h2>
  </div>

  <div class="card-body card-padding">
    <div class="t-add">
      <i id="plus" class="ta-btn zmdi zmdi-plus" data-ma-action="todo-form-open"></i>

      <div class="ta-block">
        <form #tarefaForm="ngForm" novalidate class="m-b-20">
          <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
          <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
          <input type="hidden" ngModel #finalizada="ngModel" name="finalizada" autocomplete="off">

          <textarea class="m-b-10" placeholder="Qual a sua tarefa..." name="descricao" ngModel #descricao="ngModel" perfectScrollbar></textarea>

          <div class="tab-actions">
            <a data-ma-action="todo-form-close" class="cur-pointer c-red" (click)="clear(tarefaForm)"><i class="zmdi zmdi-close"></i></a>
            <a data-ma-action="todo-form-close" class="cur-pointer c-green" (click)="add(tarefaForm)" *ngIf="!tarefaForm.value._id"><i class="zmdi zmdi-check"></i></a>
            <a data-ma-action="todo-form-close" class="cur-pointer c-lightblue" (click)="update(tarefaForm, tarefas)" *ngIf="tarefaForm.value._id"><i class="zmdi zmdi-edit"></i></a>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="tarefas.length">
      <div class="list-group" *ngFor="let tarefa of tarefas">
        <div class="list-group-item media">
          <div class="pull-right">
            <ul class="actions actions-alt">
              <li class="dropdown">
                <a class="cur-pointer" data-toggle="dropdown">
                  <i class="zmdi zmdi-more-vert"></i>
              </a>

                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a class="cur-pointer" (click)="select(tarefa, tarefaForm)">Editar</a></li>
                  <li><a class="cur-pointer" (click)="remove(tarefa, tarefas)">Excluir</a></li>
                  <li><a class="cur-pointer" (click)="archive({_id:tarefa._id}, tarefas)">Arquivar</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="media-body">
            <div class="checkbox checkbox-light">
              <label>
                <input type="checkbox" id="chk{{tarefa._id}}" [checked]="tarefa.finalizada" (click)="finaliza(tarefa)">
                <i class="input-helper"></i>
                    <span>
                        {{tarefa.descricao}}
                    </span>
            </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>