#todo{
  font-family: inherit;
  &.card{
    .card-header{
      box-shadow: none;
      h2{
        small{
          font-size: 13px;
          margin-top: 5px;
        }
      }
    }
    .card-body{
      .ta-block{
        textarea{
          font-size: 13px
        }
      }
    }
  }
  
}
