<aside id="sidebar" class="sidebar c-overflow" perfectScrollbar>
  <div class="s-profile">
    <a [routerLink]="['/dashboard/']" data-ma-action="submenu-toggle">
        <img src="{{'/assets/img/logo.png'}}" alt="">
    </a>
  </div>

  <ul class="main-menu">
    
    <li class="sb-user hidden-sm hidden-md hidden-lg" *ngIf="userData">
      <div class="sp-pic">
        <img src="{{userData.user_pic || '/assets/img/profile-pics/2.jpg'}}" alt="">
      </div>
      <div class="sp-info">
        {{userData.nome}}
      </div>
    </li>
    <li>
      <a [routerLink]="['/dashboard/']"> <i class="zmdi zmdi-icon zmdi-home"></i> Página Inicial </a>
    </li>
    <li class="sub-menu" *ngFor="let mod of userData.modulosAutorizados">
      <a [routerLink]="" data-ma-action="submenu-toggle">
        <i class="zmdi zmdi-{{mod.icone}}"></i> {{mod.nome}}</a>
      <ul class="submenu-ul">
        <li *ngFor="let pag of mod.paginas;">
          <a [routerLink]="['/dashboard/'+mod.codigo+'/'+pag.codigo]"> {{pag.nome}}</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>