.sidebar{
  background: url('../../../assets/img/bg-sidebar.png');
  z-index: 11;
  top: 0px;
  height: 100vh;
  
  
    li{
      &.sb-user{
        padding: 10px 22px;
      
        .sp-info{
          padding: 16px 12px;
          margin-left: 60px;
          font-weight: bold;
              color: #fff;
        }
        .sp-pic{
            img{
              width: 47px;
              height: 47px;
              border-radius: 50%;
              border: 3px solid rgba(0, 0, 0, 0.14);
              box-sizing: content-box;
              float: left;
            }
        }
      }
      &.sub-menu{
        a{
          color: #fff;
          &:hover{
            background-color: rgba(185, 185, 185, 0.11)
          }          
        }
      }
    }
    .submenu-ul{
      li{
        background-color: rgba(0, 0, 0, 0.35);
      }
    }
    a{
      color:#fff;
      &:hover{
        background-color: rgba(185, 185, 185, 0.11);
      }
    }
  .s-profile{
    height: 145px;
    a{
      background: none;
    img{
        margin-top: 30px;
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 10px 59px;
      }
    }
  }
}

@media screen and (max-width: 1279px){
  .sidebar{
    top: 70px;
    height: calc(100% - 70px);
    z-index: 10;
  }
  .s-profile{
    display: none;
  }
}
