<div class="card-padding" style="background-color: #f8f8f8">
  <p class="c-black f-500 divider-section m-t-20">Lista de Moveis</p>
  <div class="col-sm-12 m-t-25 m-b-25">
    <form #movelForm="ngForm" novalidate class="m-b-20">
      <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
      <input type="hidden" ngModel #_orcamento="ngModel" name="_orcamento" autocomplete="off">
      <input type="hidden" ngModel #fake_id="ngModel" name="fake_id" autocomplete="off">

      <div class="col-sm-3">
        <p class="f-500 c-black m-b-15">Ambiente</p>
        <div *ngIf="ambientes.length">
          <select [(ngModel)]="_ambiente" name="_ambiente" id="select-ambientes" class="selectpicker w-100 z-depth-1" [data]="ambientes"
            InputObrigatorio required>
                                  <option value=""> </option>
                              </select>

        </div>
      </div>
      <div class="col-sm-6">
        <p class="f-500 c-black m-b-15">Móvel</p>
        <div class="input-group fg-float w-100">
          <div class="fg-line">
            <input type="text" name="descricao" class="form-control input-sm" InputObrigatorio required autocomplete="off" ngModel #descricao="ngModel">
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <button [ngClass]="{'hidden': edit}" class="btn btn-primary btn-icon m-t-10" (click)="add(movelForm, orcamento_moveis)"><i class="zmdi zmdi-plus"></i></button>
        <button [ngClass]="{'hidden': !edit}" class="btn btn-success btn-icon m-t-10" (click)="update(movelForm, orcamento_moveis)"><i class="zmdi zmdi-format-valign-bottom"></i></button>
        <button [ngClass]="{'hidden': !edit}" class="btn btn-danger btn-icon m-t-10" (click)="remove(movelForm.value, orcamento_moveis)"><i class="zmdi zmdi-delete"></i></button>
        <button class="btn btn-info btn-icon m-t-10" (click)="clear(movelForm, orcamento_moveis)"><i class="zmdi zmdi-undo"></i></button>
      </div>
    </form>
  </div>
  <div class="col-sm-12" *ngIf="orcamento_moveis.length">
    <ngx-datatable #moveisTable class="material striped table-interna" [rows]="orcamento_moveis" [columnMode]="'flex'" [headerHeight]="50"
      [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
      <ngx-datatable-row-detail [rowHeight]="getHeight" #myDetailRow>
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ITEM</th>
                  <th>QNT</th>
                  <th>MEDIDAS</th>
                  <th>UNITÁRIO</th>
                  <th>TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-item [ngForOf]="orcamento_itensFiltered" let-i="index" [ngForTrackBy]="trackByFn">

                  <tr>
                    <td>
                      {{item._item.nome?item._item.nome:'-'}}
                    </td>
                    <td> {{item.quantidade?item.quantidade:0}}</td>
                    <td> {{(item.medidas.altura||0 | number : '1.2-2') + ' x '+(item.medidas.largura||0 | number : '1.2-2') +
                      ' x '+(item.medidas.profundidade||0 | number : '1.2-2')}}</td>
                    <td> R$ {{(item.valores.totais.unitario||0) | number : '1.2-2'}}</td>
                    <td>R$ {{(item.valores.totais.item||0) | number : '1.2-2'}}</td>
                  </tr>
                </ng-template>

              </tbody>
            </table>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-column [flexGrow]="1" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a [routerLink]="" (click)="toggleExpandRow(row, orcamento_itens)">
             <i class="zmdi zmdi-hc-2x zmdi-caret-{{row.$$expanded?'down':'right'}}"></i>            
            </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column class="table-interna" [flexGrow]="2" name="Ambiente" [resizeable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row._ambiente?row._ambiente.nome:'-'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="3" name="Móvel" [resizeable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row.descricao?row.descricao:'-'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="1" name="Itens Inc." [sortable]="false" [resizeable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{calculaQntItens(row)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="1" name="Subtotal" [sortable]="false" [resizeable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span (click)="editSubtotal(row)" *ngIf="this.subtotal == null || this.item_toEdit != row._id">R$ {{calculaSubTotal(row) | number : '1.2-2'}}</span>
          <div class="pull-right p-r-10" >
            <input id="total_itens" type="text" class="form-control" [(ngModel)]="subtotal" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
              style="background-color:transparent" (focus)="calculaSubTotal(row)" (blur)="gravaSubTotalMovel(row)" *ngIf="subtotal != null && this.item_toEdit == row._id">
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="2" name="Ações" [sortable]="false" [resizeable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

          <button [ngClass]="{'hidden': edit}" class="btn btn-default waves-effect" (click)="filterItens(row)" data-toggle="modal"
            data-target="#itens-modal"><i class="zmdi zmdi-collection-item"></i></button>

          <button [ngClass]="{'hidden': edit}" class="btn btn-default waves-effect" (click)="select(row, movelForm)"><i class="zmdi zmdi-edit"></i></button>

          <button class="btn btn-default waves-effect" (click)="remove(row, orcamento_moveis)"><i class="zmdi zmdi-delete"></i></button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount">
          <div class="page-count">
            <span>{{rowCount.toLocaleString()}} registros encontrados</span>
          </div>
          <div class="pull-right p-r-10">
            <span id="total_itens"></span>
          </div>



        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>

  <!-- Modal de Itens -->
  <div class="modal fade" id="itens-modal" tabindex="-1" role="dialog" aria-labelledby="itens-modalLabel" perfectScrollbar>
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="itens-modalLabel">Inclusão de Itens
            <small *ngIf="movel.descricao">Móvel: {{movel.descricao}} - {{movel._ambiente.nome}}</small>
          </h2>
        </div>

        <div class="modal-body">
          <div class="card-body card-padding">
            <form #itemForm="ngForm" novalidate class="m-b-20">
              <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
              <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
              <input type="hidden" ngModel #_movel="ngModel" name="_movel" autocomplete="off">
              <input type="hidden" ngModel #_orcamento="ngModel" name="_orcamento" autocomplete="off">
              <input type="hidden" ngModel #fake_id="ngModel" name="fake_id" autocomplete="off">

              <div class="row form-group">
                <p class="c-black f-500 divider-section">Dados do Item</p>
                <div class="col-sm-8 m-t-20">
                  <p class="f-500 c-black m-b-15">Item</p>
                  <div *ngIf="itens.length">
                    <select [(ngModel)]="_item" name="_item" id="select-itens" class="selectpicker w-100 z-depth-1" [data]="itens" InputObrigatorio
                      required (change)="calculaValores(itemForm)">
                                  <option value=""> </option>
                              </select>
                  </div>
                </div>
                <div class="col-sm-4 m-t-15">
                  <p class="f-500 c-black m-b-15">Quantidade</p>
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="">
                      <input type="text" name="quantidade" class="form-control input-sm validaobg" autocomplete="off" ngModel #quantidade="ngModel"
                        (keypress)="calculaValores(itemForm)" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' , precision: 0}">
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 p-0 m-t-15" ngModelGroup="medidas" #medidasCtrl="ngModelGroup">
                  <p class="c-black f-500 divider-section m-r-10">Medidas</p>
                  <div class="col-sm-4 m-t-15">
                    <p class="f-500 c-black m-b-15">Altura</p>
                    <div class="input-group fg-float p-t-10 w-100">
                      <div class="">
                        <input type="text" name="altura" class="form-control input-sm money2 validaobg" autocomplete="off" ngModel #altura="ngModel"
                          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" (keypress)="calculaValores(itemForm)">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 m-t-15">
                    <p class="f-500 c-black m-b-15">Largura</p>
                    <div class="input-group fg-float p-t-10 w-100">
                      <div class="">
                        <input type="text" name="largura" class="form-control input-sm money2 validaobg" autocomplete="off" ngModel #largura="ngModel"
                          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" (keypress)="calculaValores(itemForm)">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 m-t-15">
                    <p class="f-500 c-black m-b-15">Profundidade</p>
                    <div class="input-group fg-float p-t-10 w-100">
                      <div class="">
                        <input type="text" name="profundidade" class="form-control input-sm money2 validaobg" autocomplete="off" ngModel #profundidade="ngModel"
                          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-7 p-0 m-t-15" ngModelGroup="valores" #valoresCtrl="ngModelGroup">
                  <p class="c-black f-500 divider-section">Valores</p>
                  <div class="col-sm-3 m-t-15">
                    <p class="f-500 c-black m-b-15">Acréscimo (%)</p>
                    <div class="input-group fg-float p-t-10 w-100">
                      <div class="">
                        <input type="text" name="acrescimo" class="form-control input-sm money2 validaobg" autocomplete="off" ngModel #acrescimo="ngModel"
                          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }" (keypress)="calculaValores(itemForm)">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 m-t-15">
                    <p class="f-500 c-black m-b-15">Valor Unit.</p>
                    <div class="input-group fg-float p-t-10 w-100">
                      <div class="">
                        <input type="text" readonly name="unitario" class="form-control input-sm money2 validaobg" autocomplete="off" ngModel #unitario="ngModel"
                          currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                      </div>
                    </div>
                  </div>
                  <div ngModelGroup="totais" #totaisCtrl="ngModelGroup">
                    <div class="col-sm-3 m-t-15">
                      <p class="f-500 c-black m-b-15">Total Unit.</p>
                      <div class="input-group fg-float p-t-10 w-100">
                        <div class="">
                          <input type="text" name="unitario" class="form-control input-sm money2 validaobg" autocomplete="off" ngModel #unitario="ngModel"
                            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (keypress)="setTotal(itemForm)">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 m-t-15">
                      <p class="f-500 c-black m-b-15">Total</p>
                      <div class="input-group fg-float p-t-10 w-100">
                        <div class="">
                          <input type="text" readonly name="item" class="form-control input-sm money2 validaobg" autocomplete="off" ngModel #item="ngModel"
                            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row form-group">
                <p class="c-black f-500 divider-section">Observações</p>
                <div class="col-sm-12 m-t-15">
                  <div class="fg-line">
                    <textarea class="form-control" name="observacoes" rows="5" ngModel #observacoes="ngModel"></textarea>
                  </div>
                </div>
              </div>
            </form>
            <br>
          </div>
          <div class="col-sm-12 m-b-25" *ngIf="orcamento_itensFiltered.length">
            <p class="c-black f-500 divider-section">Itens Cadastrados</p>
            <ngx-datatable #itensTable class="material striped" [rows]="orcamento_itensFiltered" [columnMode]="'flex'" [headerHeight]="50"
              [footerHeight]="50" [limit]="5" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
              <ngx-datatable-column [flexGrow]="4" name="Item" [resizeable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row._item.nome?row._item.nome:'-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1" name="Qnt." [sortable]="false" [resizeable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.quantidade?row.quantidade:0}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="2" name="Medidas" [sortable]="false" [resizeable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{(row.medidas.altura||0 | number : '1.2-2') + ' x '+(row.medidas.largura||0 | number : '1.2-2') + ' x '+(row.medidas.profundidade||0
                  | number : '1.2-2')}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="2" name="Unitário" [sortable]="false" [resizeable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  R$ {{(row.valores.totais.unitario||0) | number : '1.2-2'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="2" name="Total" [sortable]="false" [resizeable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  R$ {{(row.valores.totais.item||0) | number : '1.2-2'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="2" name="Editar" [sortable]="false" [resizeable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="btn btn-default waves-effect" (click)="selectItem(itemForm, row)"><i class="zmdi zmdi-edit"></i></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>


        <div class="modal-footer">
          <button [ngClass]="{'hidden': editItem}" [disabled]="itemForm.invalid" (click)="addItem(itemForm, orcamento_itens)" class="btn btn-primary btn-sm m-t-25">Adicionar Item</button>
          <button [ngClass]="{'hidden': !editItem}" [disabled]="itemForm.invalid" (click)="updateItem(itemForm, orcamento_itens)" class="btn btn-success btn-sm m-t-25">Atualizar Item</button>
          <button [ngClass]="{'hidden': !editItem}" [disabled]="itemForm.invalid" (click)="removeItem(itemForm, orcamento_itens)" class="btn btn-danger btn-sm m-t-25">Excluir Item</button>
          <button (click)="clear(itemForm)" class="btn btn-default btn-sm m-t-25">Limpar</button>
          <button class="btn btn-default btn-sm m-t-25" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- fim de Modal de Itens -->

  <!-- Modal de Ajuste Valor -->
  <div class="modal fade" id="ajuste-valor-modal" tabindex="-1" role="dialog" aria-labelledby="ajuste-valor-modalLabel" perfectScrollbar>
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="ajuste-valor-modalLabel">Alterar Valor
            <small *ngIf="movel.descricao">Móvel: {{movel.descricao}} - {{movel._ambiente.nome}}</small>
          </h2>
        </div>

        <div class="modal-body">
          <div class="card-body card-padding">
            <form #valorForm="ngForm" novalidate class="m-b-20">
              <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
              <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
              <input type="hidden" ngModel #_movel="ngModel" name="_movel" autocomplete="off">
              <input type="hidden" ngModel #_orcamento="ngModel" name="_orcamento" autocomplete="off">
              <input type="hidden" ngModel #fake_id="ngModel" name="fake_id" autocomplete="off">

              <div class="row form-group">
                <p class="c-black f-500 divider-section">Dados do Item</p>
                <div class="col-sm-8 m-t-20">
                  <p class="f-500 c-black m-b-15">Item</p>
                  <div class="">
                    <!--R$ {{calculaSubTotal(row) | number : '1.2-2'}}
                        <input type="text" name="quantidade" class="form-control input-sm validaobg" autocomplete="off" ngModel #quantidade="ngModel"
                          (keypress)="calculaValores(itemForm)" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' , precision: 0}">-->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>


        <div class="modal-footer">
          <button [ngClass]="{'hidden': editItem}" [disabled]="itemForm.invalid" (click)="addItem(itemForm, orcamento_itens)" class="btn btn-primary btn-sm m-t-25">Adicionar Item</button>
          <button [ngClass]="{'hidden': !editItem}" [disabled]="itemForm.invalid" (click)="updateItem(itemForm, orcamento_itens)" class="btn btn-success btn-sm m-t-25">Atualizar Item</button>
          <button [ngClass]="{'hidden': !editItem}" [disabled]="itemForm.invalid" (click)="removeItem(itemForm, orcamento_itens)" class="btn btn-danger btn-sm m-t-25">Excluir Item</button>
          <button (click)="clear(itemForm)" class="btn btn-default btn-sm m-t-25">Limpar</button>
          <button class="btn btn-default btn-sm m-t-25" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- fim de Modal de Ajuste Valor -->
