<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>
    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Itens Cadastrados <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div *ngIf="itens.length">
          <ngx-datatable id="table" class="material striped" [rows]="itens" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
            [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
            <ngx-datatable-column [flexGrow]="4" name="Nome do Item" [resizeable]="false">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.nome}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="4" name="Valor Unit." [resizeable]="false">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                R$ {{row.valor}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [resizeable]="false"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header m-b-20">
          <h2>Novo Item <small></small></h2>
        </div>
        
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #itemForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">

            <div class="row form-group">
              <p class="c-black f-500 divider-section">Dados do Item</p>
              <div class="col-sm-6 m-t-25">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="nome" class="form-control input-sm validaobg" autocomplete="off" ngModel #nome="ngModel">
                    <label class="fg-label">Nome</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-t-25">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="valor" class="form-control input-sm money2 validaobg" autocomplete="off" ngModel #valor="ngModel"
                      currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                    <label class="fg-label">Valor</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-b-25">
                <p class="f-500 c-black m-b-15">Medição</p>
                <select class="selectpicker w-100" name="medicao" ngModel #medicao="ngModel" data-live-search="true">
                            <option [ngValue]="-1"> Selecione uma Opção</option>
														<option [ngValue]="0"> Unidade/Linear</option>
                            <option [ngValue]="1"> Metro Quadrado</option>
                            <option [ngValue]="2" > Volume</option>
                        </select>
              </div>
            </div>
            <br>
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Observações</p>
              <div class="col-sm-12 m-t-15">
                <div class="fg-line">
                  <textarea class="form-control" name="observacoes" rows="5" ngModel #observacoes="ngModel"></textarea>
                </div>
              </div>
            </div>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="itemForm.invalid" (click)="add(itemForm, itens)" class="btn btn-primary btn-sm m-t-30">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="itemForm.invalid" (click)="update(itemForm,  itens)" class="btn btn-success btn-sm m-t-30">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="itemForm.invalid" (click)="remove(itemForm,  itens)" class="btn btn-danger btn-sm m-t-30">Excluir</button>
          <button (click)="clear(itemForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, itemForm)"></action-button>
</ng-template>
