<div *ngIf="eventos != null">
  <div class="card" id="{{agenda_id}}" [eventos]="eventos" [defaultView]="defaultView" FullCalendar></div>
</div>
<!-- Add event -->
<div class="modal fade" id="modal-new-event" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Adicionar Evento</h4>
      </div>
      <div class="modal-body">
        <form class="form-event" role="form">
          <div class="form-group">
            <div class="fg-line">
              <input type="text" class="input-sm form-control" id="new-event-title" placeholder="Título do Evento">
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox m-b-15">
              <label>
                  <input id="new-all-day-check" type="checkbox" value="">
                  <i class="input-helper"></i>
                  Evento de dia todo
              </label>
            </div>
          </div>
          <div class=" row form-group">
            <div class="col-sm-6">
              <input type="text" name="inicio" id="new-event-start" class="form-control input-sm input-mask date-time-picker" DateTimePicker
                data-mask="date" autocomplete="off" ngModel #inicio="ngModel">
            </div>
            <div class="col-sm-6">
              <input type="text" name="termino" id="new-event-end" class="form-control input-sm input-mask date-time-picker" DateTimePicker
                data-mask="date" autocomplete="off" ngModel #termino="ngModel">
            </div>
          </div>

          <div class="form-group">
            <div class="event-tag">
              <span class="bgm-blue">
                  <input type="radio" value="bgm-blue" name="event-tag" checked="">
                  <i></i>
              </span>
              <span class="bgm-teal">
                  <input type="radio" value="bgm-teal" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-red">
                  <input type="radio" value="bgm-red" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-green">
                  <input type="radio" value="bgm-green" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-cyan">
                  <input type="radio" value="bgm-cyan" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-amber">
                  <input type="radio" value="bgm-amber" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-purple">
                  <input type="radio" value="bgm-purple" name="event-tag">
                  <i></i>
              </span>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-link" id="btn-add-event" (click)="add()">Adicionar</button>
        <button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit event -->
<div class="modal fade" id="modal-edit-event" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Evento</h4>
      </div>

      <div class="modal-body">
        <form class="edit-event__form">
          <div class="form-group">
            <div class="fg-line">
              <input type="text" class="form-control edit-event-title" placeholder="Título do Evento">
            </div>
          </div>

          <div class="form-group">
            <div class="event-tag event-tag-edit">
              <span class="bgm-blue">
                  <input type="radio" value="bgm-blue" name="event-tag" checked="">
                  <i></i>
              </span>
              <span class="bgm-teal">
                  <input type="radio" value="bgm-teal" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-red">
                  <input type="radio" value="bgm-red" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-green">
                  <input type="radio" value="bgm-green" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-cyan">
                  <input type="radio" value="bgm-cyan" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-amber">
                  <input type="radio" value="bgm-amber" name="event-tag">
                  <i></i>
              </span>
              <span class="bgm-purple">
                  <input type="radio" value="bgm-purple" name="event-tag">
                  <i></i>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="fg-line">
              <textarea class="form-control edit-event-description auto-size" placeholder="Descrição do Evento"></textarea>
            </div>
          </div>

          <input type="hidden" class="edit-event-id">
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-link" data-calendar="update" (click)="update()">Atualizar</button>
        <button class="btn btn-link" data-calendar="delete" (click)="remove(eventos)">Excluir</button>
        <button class="btn btn-link" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>