<div class="modpag-accordion" *ngFor="let mod of modulos;">
  <div class="p-relative ">
    <div class="list-group cur-pointer list-group-item list-group-modulos active">
      {{mod.nome}}
    </div>
    <span class="checkbox pull-right m-0">
            <label>
                <input type="checkbox"  [(ngModel)]="mod.check" [checked]="mod.check" (change)="selectModulo(mod, paginas)">
                <i class="input-helper"></i>
            </label>
          </span>
  </div>
  <ul class="list-group m-0" style="display:none" id="pags-{{mod.codigo}}">
    <div *ngFor="let pag of paginas;">
      <div *ngIf="pag._modulo == mod._id">
        <li class="list-group-item list-group-paginas p-l-25">
          <span class="checkbox pull-right m-0">
                  <label>
                      <input type="checkbox" [(ngModel)]="pag.check" [checked]="pag.check">
                      <i class="input-helper"></i>
                  </label>
                </span> {{pag.nome}}
        </li>
      </div>
    </div>
  </ul>
</div>