doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Madeira e Arte LTDA
    // Vendor CSS
    link(href='/animate.min.css', rel='stylesheet')
    link(href='/material-design-iconic-font/css/material-design-iconic-font.min.css', rel='stylesheet')
    // CSS
    link(href='/app.css', rel='stylesheet')
  body
    .four-zero
      .fz-block
        h2 #{info.name} API
        small.m-b-30 v. #{info.version}
        
        small Clique no botão abaixo para ser redirecionado
        br
        small à aplicação principal!
        .fzb-links
          a(href='/')
            i.zmdi.zmdi-home
