each val,inc in objetos
  .content
  .page
    .title
      h2 CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE MOVELARIA
    .p-l
    .texto.parag1_5cm
      p
        | Pelo presente instrumento particular e na melhor forma do direito, de um lado, 
        strong MADEIRA E ARTE INDÚSTRIA E COMÉRCIO DE MÓVEIS LTDA - ME 
        | , pessoa jurídica, de direito privado, sociedade empresarial limitada, inscrita no CNPJ sob o nº 00.757.049/0001-93,
        |   com sede à Rua Paracati, nº 100, bairro Planalto, Natal/RN, CEP 59.073-100, neste ato representada por sua sócia
        |   gerente 
        strong Marítza Walêwska de O. Furtado Pinheiro 
        | , inscrita no CPF nº 489.917.244-34, RG: 518.414 
        |   ITEP/RN com endereço comercial à Av. Antônio Basílio, nº 3006 – Sala 803 Lagoa Center – Lagoa Nova – Natal/RN, CEP: 
        |   59056-500, doravante denominada 
        strong CONTRATADA 
        | , e do outro, 
        strong= val._cliente.nome  
        |  , CPF: 
        strong= val._cliente.documentacao.cpf 
        | ,
        |         RG: 
        strong= val._cliente.documentacao.rg 
        | , residente à 
        strong= val._cliente.endereco.logradouro 
        strong= val._cliente.endereco.numero 
        |  CEP: 
        strong= val._cliente.endereco.cep 
        | , aqui denominado, doravante, 
        strong CONTRATANTE 
        | , tendo entre si justo e acordado, mediante as cláusulas e condições seguintes, que de modo recíproco, outorgam, 
        |         estipulam e aceitam o seguinte: 
    .texto.parag1_5cm
      p
        strong CLÁUSULA PRIMEIRA: DO OBJETO 
      p
        | Fabricação e montagem pela CONTRATADA de móvel residencial descrito no projeto da Arquiteto(a) 
        strong= val._arquiteto.nome 
        | , conforme especificação no projeto e orçamento detalhado e aprovado em anexo.
    .texto.parag1_5cm
      p
        strong CLÁUSULA SEGUNDA: DO VALOR DE PAGAMENTO
      p A CONTRATANTE pagará à CONTRATADA o valor total de #{val.valorTotal} 
    .texto.parag1_5cm
      p
        strong CLÁUSULA TERCEIRA: DA FORMA DE PAGAMENTO
      p
        | Os pagamentos correspondentes à execução dos serviços serão efetuados em: #{val.formapagamento} 
    .texto.parag1_5cm
      p
        strong CLÁUSULA QUARTA:  DO ENDEREÇO PARA MONTAGEM
      p
        | Os móveis descritos na cláusula primeira deste contrato serão montados pela 
        strong CONTRATADA
        |  na {enderecoentrega}
        |         Qualquer mudança de local para montagem há de ser comunicada a 
        strong CONTRATADA
        |  com antecedência de quinze
        |         dias. A montagem dos móveis, objeto deste contrato se dará dentro do território do município do Natal/RN, salvo estipulação
        |         em contrário.
    br
    .texto.parag1_5cm
      p
        strong CLÁUSULA QUINTA: DO PRAZO DE ENTREGA
      p
        | Os móveis descritos na cláusula primeira serão entregues e montados pela 
        strong CONTRATADA
        |  a partir de {datadeentrega}
        |         . Parágrafo Único – Caso haja mudança no projeto original, é facultado à 
        strong CONTRATADA
        |  estabelecer
        |         novo prazo de entrega e novo orçamento.
    .texto.parag1_5cm
      p
        strong
          | CLÁUSULA SEXTA: DAS OBRIGAÇÕES DO CONTRATANTE O CONTRATANTE se obriga ao seguinte:
      p
        | a) Providenciar serviço de reparo e impermeabilização em locais a serem montados os móveis e painéis sujeitos a umidade,
        | infiltrações externas, encanação com vazamento d`água ou similares, com o fim de evitar posterior dano aos mesmos,
        | pois será de inteira responsabilidade do 
        strong CONTRATANTE
        | .
      p
        | b) Fornecer à 
        strong CONTRATADA
        | , no ato da montagem, as plantas hidráulicas e elétricas do imóvel onde vai ser montado o móvel objeto deste contrato ou orientar ao montador, da posição e/ou local por onde passam as instalações hidráulicas ou elétricas.
      p
        | c) Providenciar para que o profissional de elétrica esteja no local no mesmo dia da montagem, caso contrario será cobrada
        | uma taxa extra de visita na data vigente.
      p
        | d) Providenciar com antecedência, puxadores, vidros e acessórios de responsabilidade do mesmo, que sejam indispensáveis
        | à montagem citada, para serem instalados por ocasião da montagem dos móveis, caso a empresa tenha que voltar, para
        | colocar qualquer um dos itens acima, após a montagem será cobrada taxa extra de visita na data vigente.
      p
        | e) O posicionamento dos puxadores deve ser discutido com o (a) arquiteto(a), de forma que na ocasião da montagem já
        | esteja definidos suas respectivas posições.
      p
        | f) Manter crianças afastadas do local de montagem dos móveis, evitando, assim, contado com máquinas manuais e elétricas,
        | extensões, cabos elétricos e ferramentas diversas.
      p
        | g) Comunicar à 
        strong CONTRATADA
        |  por escrito qualquer alteração a ser feita no projeto do arquiteto especificado
        |         na cláusula primeira, antes do inicio da montagem e da instalação dos móveis para um melhor entendimento.
      p
        | h) Na limpeza dos móveis deve utilizar pano macio, seco ou moderadamente umedecido em água limpa. Em casos de sujeira
        | de difícil remoção, utilize pano com uma solução de água e sabão neutro (exceto em móveis laqueados). Não usar produtos
        | abrasivos tipo palha de aço, esponja, etc.
      p
        | i) Conferir o material montado pela 
        strong CONTRATADA
        |  no ato da entrega.
      p
        | j) Remunerar os serviços contratados na forma e nas condições pactuadas, conforme a cláusula terceira.
    table
    .texto.parag1_5cm
      p
        strong CLÁUSULA SÉTIMA: DAS OBRIGAÇÕES DA CONTRATADA
      p A CONTRATADA se obriga a:
      p
        | a) Montagem dos móveis, objeto deste contrato, no prazo estabelecido na cláusula quinta.
      p
        | b) Em paredes fora de esquadro, piso, teto, colunas, pilares e bancadas de mármore não niveladas, utilizar fechamento
        | com alisares e baguetes para corrigir defeitos e compor melhor o móvel a ser montado.
      p
        | c) Em paredes fora de esquadro, piso e teto não nivelados, utilizar fechamento com alisares e baguetes para corrigir
        | defeitos e compor melhor o móvel a ser montado.
      p
        | d) Instalar nos móveis contratados, rodízios e puxadores fornecidos pela 
        strong CONTRATANTE
        |  no decorrer da
        |         montagem dos mesmos, caso contrario valerá o que descreve o item c da clausula sexta.
      p e) Fazer vistoria e revisão no móvel após a execução de sua montagem.
      p
        | Parágrafo Único – A 
        strong CONTRATADA
        |  não se responsabilizará por danos causados a gesso e pintura por ocasião
        |         da montagem dos móveis, por mudanças de cor no revestimento e laqueamento externo dos móveis devido a fatores como:
        |         incidência do sol, claridade, produtos de limpeza utilizados indevidamente, água, etc, pois os mesmos sofrem alterações
        |         de cor com o passar do tempo.
    .texto.parag1_5cm
      p
        strong CLÁUSULA OITAVA: DA DESISTÊNCIA E DAS PENALIDADES
      p
        | Em caso de desistência por parte da 
        strong CONTRATANTE
        |  após a formalização deste contrato, lhe ocorrerá uma das seguintes penalidades: multa de quinze por cento (15%)
        |         do valor do serviço descrito na cláusula 2ª se a desistência se der na fase que antecede a execução, vinte e cinco
        |         por cento (25%) se na execução e quarenta por cento (40%) se na fase de acabamento. Se a desistência se der pela
        strong  CONTRATADA
        |  serão devolvidos à 
        strong CONTRATANTE
        |  os valores já pagos a título de adiantamento.
    .texto.parag1_5cm
      p
        strong CLÁUSULA NONA:
      p
        | AS DISPOSIÇÕES FINAIS Os casos omissos serão resolvidos de comum acordo, mediante reunião das partes para tal finalidade.
    .texto.parag1_5cm
      p
        strong CLÁUSULA DÉCIMA:
      p
        | FORO As partes elegem o Foro desta Comarca de Natal/RN para todas as dúvidas e questões oriundas do presente contrato,
        | regendo-se as omissões pelas disposições atinentes do Código Civil Brasileiro e de legislação extravagante. E, por
        | estarem assim justos e acordados, assinam o presente instrumento em duas (02) vias de igual teor e forma e para um
        | mesmo fim, juntamente com as 02 (duas) testemunhas abaixo assinadas, que a tudo estiveram presentes para que surta
        | os seus devidos efeitos legais.
      br
      br
      br
     .texto.parag1_5cm
      p
        strong ORÇAMENTO:
      p
      table(class='table table-striped')
        thead
          tr
            th Descricao do Móvel
            th(style='width: 30%') Valor
        tbody
          each item, i in objetos
            each item2, i2 in item.moveis
              tr
                td= item2.descricao
                td(style='text-align: center')= item2.valorMovel
    .date-place
      p Em Natal/RN, dataRPT.printDate
    .signature-place.tx-center
      p ___________________________________________
      | MADEIRA E ARTE IND. E COM. DE MÓVEIS LTDA – ME
      br
      | CNPJ: 00.757.049/0001-93
      br
      | CONTRATADA 
      br
    .signature-place.tx-center
      p ___________________________________________
      | #{val._cliente.nome}
      br
      | CPF: #{val._cliente.documentacao.cpf}
      br
      | CONTRATATANTE
      br


