each val,inc in objetos
  .content
  .page
    .title
      h2 EXECUÇÃO DE MÓVEIS - MADEIRA E ARTE
      table
        tr
          th(style='width: 27%')
            span.tituloSituacao PRIMEIRA LIGAÇÃO
          th(style='width: 23%')
            span.tituloSituacao ( ) MEDIÇÃO
          th(style='width: 27%')
            span.tituloSituacao ( ) FABRICAÇÃO
          th(style='width: 23%')
            span.tituloSituacao ( ) MONTAGEM
        tr
          td
            b
              span.left.font10 DT:
              span.right.font10 HR:
          td
            b
              span.camposSituacao.left DT: 
          td
            b
              span.camposSituacao.left DT:
          td
            b
              span.camposSituacao.left DT:
        tr
          td
            b
              span.camposSituacao.left ASS:
          td
            b
              span.camposSituacao.left ASS:
          td
            b
              span.camposSituacao.left ASS:
          td
            b
              span.camposSituacao.left ASS:
        tr
          td
            b
              span.camposSituacao.left OBS:
          td
            b
              span.camposSituacao.left MARCENEIRO:
          td
            b
              span.camposSituacao.left TERMINO:
          td
            b
              span.camposSituacao.left TERMINO:
      br
      table
        tr
          td(rowspan='2', style='width: 27%')
            b
              span.tituloSituacao.left.font10 VISTO COM MARCENEIRO:
          td(style='width: 23%')
            b
              span.camposSituacao.left DT: 
          td(style='width: 27%', rowspan='2')
            b
              span
            b
              span.tituloSituacao.left.font10 VISTO COM CLIENTE:
          td(style='width: 23%')
            b
              span.camposSituacao.left DT: 
        tr
          td(style='width: 23%')
            b
              span.camposSituacao.left ASS:
          td(style='width: 23%')
            b
              span.camposSituacao.left ASS:
      .font10.tx-justify
        p
          span CLIENTE:
          b  #{val._cliente.nome} 
          br
          span TELEFONE: 
          b  #{val._cliente.contato.principal.fixo} / #{val._cliente.contato.principal.celular}
          br
          span ENDEREÇO: 
          b  #{val._cliente.endereco.logradouro + ' - ' + val._cliente.endereco.numero + ' - ' + val._cliente.endereco.bairro + ' - ' + val._cliente.endereco.localidade + ' / ' + val._cliente.endereco.uf} 
          br
          span ARQUITETO: 
          b  #{val._arquiteto.nome}
          br
          span DATA DA ENTREGA(PREVISTA): 
          b  #{val.entrega.datas.prevista}
          br
      p.tituloSituacao.tx-justify ITENS CONTRATADOS:
      table
        tr
          th.tx-center(style='width: 8%')
            b
              span QUANT.
          th(style='width: 92%')
            b
              span ESPECIFICAÇÕES.
        each movel, i in val.moveis
          tr
            td.tx-center
            td
              b
                span= movel.descricao
                 each item, i2 in movel.itens
                    tr
                      td.tx-center
                        span= item.quantidade
                      td
                        span= item._item.nome
      .tx-justify
        p.font10
          b Itens incluídos no orçamento:
          |  MDF Natural, folheado cumaru e laca branca.
        p.font10
          b Itens não incluídos no orçamento:
          |  Vidros, películas, rodízios, reguladores, tubos e pinos de aço, pistão,
          |           corrediças telescópicas, dobradiças, trilho deslizante e perfil de alumínio, mármore, puxadores 45° no móvel, alumínio,
          |           alça e embutir, serviço de iluminação, elétrica e eletroeletrônicos, etc.
      .tx-justify
        p.tituloSituacao OBSERVAÇÕES
        ul
          li CONFERIR COM O PROJETO QUANTIDADES DE PORTAS, GAVETAS, PRATELEIRAS, ETC.
          li CONFERIR TOMADAS, AR-CONDICIONADO, LUMINÁRIAS E ALTURA DO RODAPÉ.
          li
            | PERGUNTAR AO CLIENTE SE TERÁ EQUIPAMENTOS ELETRO-ELETRÔNICOS NO AMBIENTE E CONFERIR TODAS AS MEDIDAS.
          li SÓ FAZER FURAÇÃO DE POSSE DE PLANTAS ELETRICAS E HIDRAULICAS.