<ol class="breadcrumb">
  <li><a href="#">Financeiro</a></li>
  <li class="active">Formas de Pagamento</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>
    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Formas de Pagamento Cadastradas <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div>
          <div *ngIf="formaPagamentos.length">
            <ngx-datatable id="table" class="material striped" [rows]="formaPagamentos" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
              [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
              <ngx-datatable-column [flexGrow]="8" name="Nome"></ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1" [cellTemplate]="ativoTmpl" name="Ativo" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Nova Forma de Pagamento <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #formaPagamentoForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Descrição da Forma de Pagamento</p>
              <div class="col-sm-8 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="nome" class="form-control input-sm" autocomplete="off" ngModel #nome="ngModel">
                    <label class="fg-label">Nome</label>
                  </div>
                </div>
              </div>
            </div>
            <div ngModelGroup="parcelamento" #parcelamentoCtrl="ngModelGroup">
              <div class="col-sm-12 m-b-15">
                <p class="f-500 c-black m-b-15">É um parcelamento?</p>
                <select [(ngModel)]="tipo" name="tipo" id="select-parcelamentos" class="selectpicker w-100 z-depth-1">
                        <option value="0">Não</option>
                        <option value="1">Parcelamento Semanal</option>
                        <option value="2">Parcelamento Quinzenal</option>
                        <option value="3">Parcelamento Mensal</option>
                    </select>
              </div>
              <div class="col-sm-12 m-b-15" [ngClass]="{'hidden': (!tipo || tipo == '0')}">
                <p class="f-500 c-black m-b-15">Número de Parcelas</p>
                <div class="input-group w-100">
                  <input type="number" name="numero" ngModel #numero="ngModel" class="form-control input-sm" autocomplete="off" min="0">
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Observações</p>
              <div class="col-sm-12 m-t-15">
                <div class="fg-line">
                  <textarea class="form-control" name="observacoes" rows="5" ngModel #observacoes="ngModel"></textarea>
                </div>
              </div>
            </div>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="formaPagamentoForm.invalid" (click)="add(formaPagamentoForm, formaPagamentos)"
            class="btn btn-primary btn-sm m-t-30">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="formaPagamentoForm.invalid" (click)="update(formaPagamentoForm, formaPagamentos)"
            class="btn btn-success btn-sm m-t-30">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="formaPagamentoForm.invalid" (click)="remove(formaPagamentoForm, formaPagamentos)"
            class="btn btn-danger btn-sm m-t-30">Excluir</button>
          <button (click)="clear(formaPagamentoForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ativoTmpl let-row="row" let-value="value">
  <toggle-ativo [row]="row" [Form]="formaPagamentoForm" [update]="update" [data]="formaPagamentos" [parseForm]="parseForm"></toggle-ativo>
</ng-template>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, formaPagamentoForm)"></action-button>
</ng-template>