<div class="content">
  <div class="page">
    <div class="title">
      <h2>CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE MOVELARIA</h2>
    </div>
    <div class="p-l">
      <% dataRPT.moveis.0.descricao %>
        Contrato para fornecimento de móveis que entre si celebram a MADEIRA E ARTE INDÚSTRIA E COMÉRCIO DE MÓVEIS LTDA – ME e o
        Sr(a). <strong> dataRPT._orcamento._cliente.nome </strong>.
    </div>
    <div class="texto parag1_5cm">
      <p>Pelo presente instrumento particular e na melhor forma do direito, de um lado,
        <Strong>MADEIRA E ARTE INDÚSTRIA E COMÉRCIO DE MÓVEIS LTDA - ME</strong>, pessoa jurídica, de direito privado, sociedade empresarial limitada, inscrita no CNPJ sob o nº 00.757.049/0001-93,
        com sede à Rua Paracati, nº 100, bairro Planalto, Natal/RN, CEP 59.073-100, neste ato representada por sua sócia
        gerente <strong>Marítza Walêwska de O. Furtado Pinheiro</strong>, inscrita no CPF nº 489.917.244-34, RG: 518.414
        ITEP/RN com endereço comercial à Av. Antônio Basílio, nº 3006 – Sala 803 Lagoa Center – Lagoa Nova – Natal/RN, CEP:
        59056-500, doravante denominada
        <Strong>CONTRATADA</Strong>, e do outro, <strong> dataRPT._orcamento._cliente.nome </strong> , CPF: <strong> dataRPT._orcamento._cliente.documentacao.cpf </strong>,
        RG: <strong> dataRPT._orcamento._cliente.documentacao.rg </strong>, residente à
        <Strong> dataRPT._orcamento._cliente.endereco.logradouro dataRPT._orcamento._cliente.endereco.numero </Strong> CEP: <strong> dataRPT._orcamento._cliente.endereco.cep </strong>, aqui denominado, doravante,
        <Strong>CONTRATANTE</Strong>, tendo entre si justo e acordado, mediante as cláusulas e condições seguintes, que de modo recíproco, outorgam,
        estipulam e aceitam o seguinte:</p>
    </div>
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA PRIMEIRA: DO OBJETO </strong></p>
      <p>Fabricação e montagem pela CONTRATADA de móvel residencial descrito no projeto da Arquiteto(a) dataRPT._orcamento._arquiteto.nome
        , conforme especificação no projeto e orçamento detalhado e aprovado em anexo.
      </p>
    </div>
    <div class="texto parag1_5cm">
      <p>
        <Strong>CLÁUSULA SEGUNDA: DO VALOR DE PAGAMENTO</strong>
      </p>
      <p>A CONTRATANTE pagará à CONTRATADA o valor total de R$ dataRPT._orcamento.total </p>
    </div>
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA TERCEIRA: DA FORMA DE PAGAMENTO</strong>
      </p>
      <p>Os pagamentos correspondentes à execução dos serviços serão efetuados em dataRPT._orcamento.formapagto.numeroparcelas
        parcelas:
      </p>
    </div>
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA QUARTA:  DO ENDEREÇO PARA MONTAGEM</strong></p>
      <p>Os móveis descritos na cláusula primeira deste contrato serão montados pela <strong>CONTRATADA</strong> na dataRPT._orcamento.enderecoentrega
        Qualquer mudança de local para montagem há de ser comunicada a <strong>CONTRATADA</strong> com antecedência de quinze
        dias. A montagem dos móveis, objeto deste contrato se dará dentro do território do município do Natal/RN, salvo estipulação
        em contrário.</p>
    </div>
    <br />
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA QUINTA: DO PRAZO DE ENTREGA</strong></p>
      <p>Os móveis descritos na cláusula primeira serão entregues e montados pela <strong>CONTRATADA</strong> a partir de dataRPT._orcamento.dataentrega
        . Parágrafo Único – Caso haja mudança no projeto original, é facultado à <strong>CONTRATADA</strong> estabelecer
        novo prazo de entrega e novo orçamento.</p>
    </div>
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA SEXTA: DAS OBRIGAÇÕES DO CONTRATANTE O CONTRATANTE se obriga ao seguinte:</strong></p>
      <p>a) Providenciar serviço de reparo e impermeabilização em locais a serem montados os móveis e painéis sujeitos a umidade,
        infiltrações externas, encanação com vazamento d`água ou similares, com o fim de evitar posterior dano aos mesmos,
        pois será de inteira responsabilidade do <strong>CONTRATANTE</strong>.</p>
      <p>b) Fornecer à <strong>CONTRATADA</strong>, no ato da montagem, as plantas hidráulicas e elétricas do imóvel onde vai
        ser montado o móvel objeto deste contrato ou orientar ao montador, da posição e/ou local por onde passam as instalações
        hidráulicas ou elétricas.
      </p>
      <p>c) Providenciar para que o profissional de elétrica esteja no local no mesmo dia da montagem, caso contrario será cobrada
        uma taxa extra de visita na data vigente.</p>
      <p>d) Providenciar com antecedência, puxadores, vidros e acessórios de responsabilidade do mesmo, que sejam indispensáveis
        à montagem citada, para serem instalados por ocasião da montagem dos móveis, caso a empresa tenha que voltar, para
        colocar qualquer um dos itens acima, após a montagem será cobrada taxa extra de visita na data vigente. </p>
      <p>e) O posicionamento dos puxadores deve ser discutido com o (a) arquiteto(a), de forma que na ocasião da montagem já
        esteja definidos suas respectivas posições. </p>
      <p>f) Manter crianças afastadas do local de montagem dos móveis, evitando, assim, contado com máquinas manuais e elétricas,
        extensões, cabos elétricos e ferramentas diversas. </p>
      <p>g) Comunicar à <strong>CONTRATADA</strong> por escrito qualquer alteração a ser feita no projeto do arquiteto especificado
        na cláusula primeira, antes do inicio da montagem e da instalação dos móveis para um melhor entendimento.</p>
      <p>h) Na limpeza dos móveis deve utilizar pano macio, seco ou moderadamente umedecido em água limpa. Em casos de sujeira
        de difícil remoção, utilize pano com uma solução de água e sabão neutro (exceto em móveis laqueados). Não usar produtos
        abrasivos tipo palha de aço, esponja, etc. </p>
      <p>i) Conferir o material montado pela <strong>CONTRATADA</strong> no ato da entrega. </p>
      <p>j) Remunerar os serviços contratados na forma e nas condições pactuadas, conforme a cláusula terceira.</p>
    </div>
    <table></table>
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA SÉTIMA: DAS OBRIGAÇÕES DA CONTRATADA</strong></p>
      <p>A CONTRATADA se obriga a:</p>
      <p>a) Montagem dos móveis, objeto deste contrato, no prazo estabelecido na cláusula quinta.</p>
      <p>b) Em paredes fora de esquadro, piso, teto, colunas, pilares e bancadas de mármore não niveladas, utilizar fechamento
        com alisares e baguetes para corrigir defeitos e compor melhor o móvel a ser montado.</p>
      <p>c) Em paredes fora de esquadro, piso e teto não nivelados, utilizar fechamento com alisares e baguetes para corrigir
        defeitos e compor melhor o móvel a ser montado.</p>
      <p>d) Instalar nos móveis contratados, rodízios e puxadores fornecidos pela <strong>CONTRATANTE</strong> no decorrer da
        montagem dos mesmos, caso contrario valerá o que descreve o item c da clausula sexta.</p>
      <p>e) Fazer vistoria e revisão no móvel após a execução de sua montagem.</p>

      <p>Parágrafo Único – A <strong>CONTRATADA</strong> não se responsabilizará por danos causados a gesso e pintura por ocasião
        da montagem dos móveis, por mudanças de cor no revestimento e laqueamento externo dos móveis devido a fatores como:
        incidência do sol, claridade, produtos de limpeza utilizados indevidamente, água, etc, pois os mesmos sofrem alterações
        de cor com o passar do tempo.</p>
    </div>
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA OITAVA: DA DESISTÊNCIA E DAS PENALIDADES</strong></p>
      <p>Em caso de desistência por parte da
        <Strong>CONTRATANTE</Strong> após a formalização deste contrato, lhe ocorrerá uma das seguintes penalidades: multa de quinze por cento (15%)
        do valor do serviço descrito na cláusula 2ª se a desistência se der na fase que antecede a execução, vinte e cinco
        por cento (25%) se na execução e quarenta por cento (40%) se na fase de acabamento. Se a desistência se der pela
        <strong>CONTRATADA</strong> serão devolvidos à <strong>CONTRATANTE</strong> os valores já pagos a título de adiantamento.</p>
    </div>
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA NONA:</strong></p>
      <p>AS DISPOSIÇÕES FINAIS Os casos omissos serão resolvidos de comum acordo, mediante reunião das partes para tal finalidade.</p>
    </div>
    <div class="texto parag1_5cm">
      <p><strong>CLÁUSULA DÉCIMA:</strong></p>
      <p>FORO As partes elegem o Foro desta Comarca de Natal/RN para todas as dúvidas e questões oriundas do presente contrato,
        regendo-se as omissões pelas disposições atinentes do Código Civil Brasileiro e de legislação extravagante. E, por
        estarem assim justos e acordados, assinam o presente instrumento em duas (02) vias de igual teor e forma e para um
        mesmo fim, juntamente com as 02 (duas) testemunhas abaixo assinadas, que a tudo estiveram presentes para que surta
        os seus devidos efeitos legais.</p>
    </div>
    <div class="texto parag1_5cm">
      <p><strong>ORÇAMENTO:</strong></p>
      <table class="table" style="border:1px solid">
        <thead>
          <tr>
            <th>#</th>
            <th>Firstname</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Anna</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="date-place">
      <p>Em Natal/RN, dataRPT.printDate</p>
    </div>
    <div class="signature-place">
      <p>___________________________________________</p>
      <p>MADEIRA E ARTE IND. E COM. DE MÓVEIS LTDA – ME</p>
      <p>CNPJ: 00.757.049/0001-93</p>
      <p>CONTRATADA </p>
    </div>
    <div class="signature-place">
      <p>___________________________________________</p>
      <p>dataRPT._orcamento._cliente.nome</p>
      <p>CPF: dataRPT._orcamento._cliente.documentacao.cpf</p>
      <p>CONTRATATANTE</p>
    </div>
  </div>
</div>