<ol class="breadcrumb">
  <li><a href="#">Admin. do Sistema</a></li>
  <li class="active">Usuários</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
      <li>
        <a href="#autorizar" aria-controls="autorizar" role="tab" data-toggle="tab" id="tab-autorizar"> AUTORIZAR </a></li>
    </ul>

    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Usuários Cadastrados <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <ngx-datatable id="table"class="material striped" [rows]="usuarios" [columns]="columns" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
          [rowHeight]="'auto'"  [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
          <ngx-datatable-column [flexGrow]="5" name="Nome"></ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="2" name="Login"></ngx-datatable-column>          
          <ngx-datatable-column [flexGrow]="1" [cellTemplate]="ativoTmpl" name="Ativo" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="1" [cellTemplate]="checkTmpl" name="Permissões" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
        </ngx-datatable>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Novo Usuário <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form id="usuarioForm" #usuarioForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #_modulos="ngModel" name="_modulos" autocomplete="off">
            <input type="hidden" ngModel #_paginas="ngModel" name="_paginas" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group m-b-25">
                  <div class="input-group fg-float p-t-10">
                    <span class="input-group-addon"><i class="zmdi zmdi-caret-right"></i></span>
                    <div class="fg-line">
                      <input type="text" name="nome" class="form-control input-sm" autocomplete="off" ngModel required #nome="ngModel" [maxlength]="100" InputObrigatorio>
                      <label class="fg-label">Nome</label>
                    </div>
                  </div>
                </div>
                <div class="form-group m-b-25">
                  <div class="input-group fg-float p-t-10">
                    <span class="input-group-addon"><i class="zmdi zmdi-caret-right"></i></span>
                    <div class="fg-line">
                      <input type="text" name="login" class="form-control input-sm" autocomplete="off" ngModel required #login="ngModel" [maxlength]="100" InputObrigatorio>
                      <label class="fg-label">Login</label>
                    </div>
                  </div>
                </div>
                <div class="form-group m-b-25">
                  <div class="input-group fg-float p-t-10">
                    <span class="input-group-addon"><i class="zmdi zmdi-caret-right"></i></span>
                    <div class="fg-line">
                      <input type="password" name="password" class="form-control input-sm" autocomplete="off" ngModel required #password="ngModel"
                        [maxlength]="100">
                      <label class="fg-label">Senha</label>
                    </div>
                  </div>
                </div>
                <div class="form-group m-b-25">
                  <div class="input-group fg-float p-t-10">
                    <span class="input-group-addon"><i class="zmdi zmdi-caret-right"></i></span>
                    <div class="fg-line">
                      <input type="password" name="password_confirma" class="form-control input-sm" autocomplete="off" ngModel required #password_confirma="ngModel"
                        [maxlength]="100">
                      <label class="fg-label">Confirmação de Senha</label>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="col-sm-4 text-center">
                <div class="row">
                  <input type="hidden" ngModel #user_pic="ngModel" name="user_pic" autocomplete="off">
                  <input id="user_pic" type="file" name="...">

                </div>
                <div class="row">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" *ngIf="user_pic && environment">
                      <img id="img-preview" class="invisible" src="{{environment.urlAPI + '/ws/files?type=image&data=user_pics&image=' + user_pic.value}}"
                        alt="#">
                    </div>
                  </div>
                </div>
                <button class="btn btn-warning" id="sa-warning{{_id.value}}" [ngClass]="{'invisible':!user_pic.value}">Excluir Imagem</button>
              </div>-->
            </div>
          </form>

          <button [ngClass]="{'hidden': edit}" [disabled]="usuarioForm.invalid || password.value != password_confirma.value" (click)="add(usuarioForm, usuarios)"
            class="btn btn-primary btn-sm m-t-10">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="usuarioForm.invalid || password.value != password_confirma.value || password.value == '********' || password_confirma.value == '********'"
            (click)="update(usuarioForm, usuarios)" class="btn btn-success btn-sm m-t-10">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="usuarioForm.invalid || password.value != password_confirma.value" (click)="remove(usuarioForm, usuarios)"
            class="btn btn-danger btn-sm m-t-10">Excluir</button>
          <button (click)="clear(usuarioForm)" class="btn btn-default btn-sm m-t-10">Limpar</button>




        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="autorizar">
        <div class="card-header">
          <h2>Permissões de Usuário <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding">

          <div *ngIf="usuario.login">
            <p class="c-black f-500">Dados de usuário</p>
            <p class="m-b-5">Nome: {{usuario.nome}}</p>
            <p class="m-b-5">Login: {{usuario.login}}</p>
          </div>
          <br>
          <br>
          <mod-pag-acoes [modulos]="modulos" [paginas]="paginas" [acoes]="acoes"></mod-pag-acoes>

          <div class="m-b-10">
            <button (click)="gravarPermissoes(usuarioForm, usuarios)" class="btn bgm-teal btn-sm m-t-10">Gravar Permissões</button>
            <button (click)="clear(usuarioForm)" class="btn btn-default btn-sm m-t-10">Limpar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ativoTmpl let-row="row" let-value="value">
  <toggle-ativo [row]="row" [Form]="usuarioForm" [update]="update" [data]="usuarios" [parseForm]="parseForm"></toggle-ativo>
</ng-template>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, usuarioForm)"></action-button>
</ng-template>
<ng-template #checkTmpl let-row="row" let-value="value">
  <action-button [icone]="'lock'" (edit)="check(row, usuarioForm)"></action-button>
</ng-template>