body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}
.header{
  height: 2.0cm;
  margin-top: 0.7cm;
  overflow:hidden;
}
.logo{
  float: right;
}
.p-l{
  padding-left: 150px;
}

p{
	font-size: 10px;
	font-weight: normal;
}
.page {
  margin: 0;
  padding: 0;
  height: 8cm;
  page-break-after: always;
}
.title{
  text-align: center;
  margin-top: -20px;
  line-height: 16px; 
}        
h2{
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 24px;
}
small{
  font-weight: initial;
}
.parag1_5cm{
    text-indent: 3.5em;
}   
.texto{
  text-align: justify;        
}
li{
	font-size: 10px;
}
.date-place{
  margin-top: 84px;
  /*text-align: center;*/
}
.signature-place{
  margin-top: 84px;
  /*text-align: center;*/
}
.signature-place2{
  float: right;
  /*text-align: center;*/
}

table {
width: 100%;
border-collapse: collapse;
border-spacing: 0;
}

th{
	background-color : #eee;
	font-weight: bold;
}

td, th { 
	border: 1px solid #CCC;
	font-size: 10px;
	text-align: justify;
}

td{
	font-weight: normal;
}

th span{
	font-weight: bold;
}


.tituloSituacao{
  font-size: 12px;
	font-weight: bold;
}


.camposSituacao{
  font-size: 10px;
}

.font12{
	font-size: 12px;
}

.font10{
	font-size: 10px;
}

.tx-center{
	text-align: center;
}

.tx-justify{
	text-align: justify;
}

.left{
	float: left;
}

.right{
	float: right;
	margin-right: 55px;
}