<ol class="breadcrumb">
  <li><a href="#">Produtos/Serviços</a></li>
  <li class="active">ModelosContratos</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>
    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Modelos de Contratos Cadastrados <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div *ngIf="modelosContratos.length">
          <ngx-datatable id="table" class="material striped" [rows]="modelosContratos" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
            [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
            <ngx-datatable-column [flexGrow]="9" name="Nome"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Novo Modelo de Contrato <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #modeloContratoForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">

            <div class="row form-group">
              <p class="c-black f-500 divider-section">Dados do Modelo</p>
              <div class="col-sm-8 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="nome" class="form-control input-sm" InputObrigatorio autocomplete="off" ngModel #nome="ngModel">
                    <label class="fg-label">Nome</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <textarea [froalaEditor]='options' ngModel name="textomodelo"></textarea>
                </div>
              </div>
            </div>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="modeloContratoForm.invalid" (click)="add(modeloContratoForm, modelosContratos)"
            class="btn btn-primary btn-sm m-t-30">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="modeloContratoForm.invalid" (click)="update(modeloContratoForm, modelosContratos)"
            class="btn btn-success btn-sm m-t-30">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="modeloContratoForm.invalid" (click)="remove(modeloContratoForm, modelosContratos)"
            class="btn btn-danger btn-sm m-t-30">Excluir</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="modeloContratoForm.invalid" (click)="visualizar(modeloContratoForm, modelosContratos)"
            class="btn btn-primary btn-sm m-t-30">Visualizar em PDF</button>
          <button (click)="clear(modeloContratoForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, modeloContratoForm)"></action-button>
</ng-template>