<!-- Login -->
<div class="lc-block" id="l-login" [ngClass]="{'toggled' : block == 0}">
  <form #loginForm="ngForm" novalidate class="lcb-form">
    <div class="input-group m-b-20 p-t-0 text-center" style="width: 100%">
      <img src="./assets/img/logo.png" class="img-responsive" style="margin: 20px auto">
    </div>
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
      <div class="fg-line">
        <input type="text" class="form-control input-sm" name="login" id="login" ngModel required #login="ngModel" placeholder="Usuário"
          [maxlength]="11">
      </div>
    </div>

    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
      <div class="fg-line">
        <input type="password" class="form-control input-sm" name="senha" id="senha" ngModel required #senha="ngModel" placeholder="Senha"
          [maxlength]="8">
      </div>
    </div>


    <div class="checkbox m-b-15">
      <label>
          <input type="checkbox" name="chkManterSessao" id="chkManterSessao" [(ngModel)]="chkManterSessao">
          <i class="input-helper"></i>
          Manter meu usuário conectado
      </label>
    </div>
    <div class="input-group m-b-15 w-100">
      <button id="btnLogin" class="btn btn-success w-100" [disabled]="!loginForm.valid" (click)="logar(loginForm, false)">ENTRAR</button>
    </div>
  </form>

  <div class="lcb-navigation">
    <a class="cur-pointer" data-ma-action="login-switch" data-ma-block="#l-register" (click)="setBlock(1)"><i class="zmdi zmdi-plus"></i> <span>Novo Cadastro</span></a>
    <a class="cur-pointer" data-ma-action="login-switch" data-ma-block="#l-forget-password" (click)="setBlock(2)"><i>?</i> <span>Esqueci a senha?</span></a>
  </div>
</div>

<!-- Register -->
<div class="lc-block" id="l-register" [ngClass]="{'toggled' : block == 1}">
  <form #registerForm="ngForm" novalidate class="lcb-form">
    <div class="input-group m-b-20 p-t-0 text-center" style="width: 100%">
      <img src="./assets/img/logo.png" class="img-responsive" style="margin: 20px auto">
    </div>
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
      <div class="fg-line">
        <input type="text" class="form-control" name="login" id="login" ngModel required #login="ngModel" placeholder="Usuário" [maxlength]="11">
      </div>
    </div>
    
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
      <div class="fg-line">
        <input type="password" class="form-control" name="senha" id="senha" ngModel required #senha="ngModel" placeholder="Senha"
          [maxlength]="8">
      </div>
    </div>

    <div class="input-group m-b-15 w-100">
      <button id="btnLogin" class="btn btn-success w-100" [disabled]="!registerForm.valid" (click)="registrar(registerForm, false)">REALIZAR CADASTRO</button>
    </div>
  </form>

  <div class="lcb-navigation">
    <a class="cur-pointer" data-ma-action="login-switch" data-ma-block="#l-login" (click)="setBlock(0)"><i class="zmdi zmdi-long-arrow-right"></i> <span>Fazer Login</span></a>
    <a class="cur-pointer" data-ma-action="login-switch" data-ma-block="#l-forget-password" (click)="setBlock(2)"><i>?</i> <span>Esqueci a senha?</span></a>
  </div>
</div>