.lcb-navigation {
  a[data-ma-block="#l-register"]{
    &:hover {
      width: 125px;
    }
  }
  a[data-ma-block="#l-login"]{
    &:hover {
      width: 108px;
    }
  }
}

.lcb-form{
  padding: 35px 25px 35px 25px !important;
}

.lc-block{
    &:not(.lcb-alt){
      padding-right: 25px;
    }
    .img-responsive{
    max-width: 140px;
  }  
  }
  