<div class="card">
    <div role="tabpanel" class="tabpanel">
      <ul class="tab-nav" role="tablist">
        <li class="active">
          <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
        <li>
          <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
      </ul>
      <div class="tab-content p-0">
        <div role="tabpanel" class="tab-pane active" id="consultar">
          <div class="card-header">
            <h2>Planos de Contas Cadastrados <small></small></h2>
          </div>
          <div style="clear:both">&nbsp;</div>
          <div *ngIf="planocontas.length">
            <ngx-datatable id="table"class="material striped" [rows]="planocontas" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
              [rowHeight]="'auto'"  [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
              <ngx-datatable-column [flexGrow]="8" name="Nome"></ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1" [cellTemplate]="ativoTmpl" name="Ativo" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="cadastrar">
          <div class="card-header">
            <h2>Novo Plano de Conta <small></small> </h2>
          </div>
          <div style="clear:both">&nbsp;</div>
          <div class="card-body card-padding p-b-15">
            <form #planocontaForm="ngForm" novalidate class="m-b-20">
              <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
              <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">

              <div class="row form-group">
                <p class="c-black f-500 divider-section">Dados do Plano de Conta</p>
                <div class="col-sm-12 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="nome" class="form-control input-sm validaobg" autocomplete="off" ngModel #nome="ngModel">
                      <label class="fg-label">Nome</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </form>
            <button [ngClass]="{'hidden': edit}" [disabled]="planocontaForm.invalid" (click)="add(planocontaForm, planocontas)"
              class="btn btn-primary btn-sm m-t-30">Adicionar</button>
            <button [ngClass]="{'hidden': !edit}" [disabled]="planocontaForm.invalid" (click)="update(planocontaForm, planocontas)"
              class="btn btn-success btn-sm m-t-30">Atualizar</button>
            <button [ngClass]="{'hidden': !edit}" [disabled]="planocontaForm.invalid" (click)="remove(planocontaForm, planocontas)"
              class="btn btn-danger btn-sm m-t-30">Excluir</button>
            <button (click)="clear(planocontaForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

<ng-template #ativoTmpl let-row="row" let-value="value">
  <toggle-ativo [row]="row" [Form]="planocontaForm" [update]="update" [data]="planocontas" [parseForm]="parseForm"></toggle-ativo>
</ng-template>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, planocontaForm)"></action-button>
</ng-template>