<header id="header" class="clearfix" data-ma-theme="blue">
  <ul class="h-inner">
    <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="hi-logo hidden-xs">
      <a class="cur-pointer" data-router-link="['/dashboard/']">Madeira e Arte</a>
    </li>

    <li class="pull-right">
      <ul class="hi-menu ">
        <li class="hi-user  hidden-xs" *ngIf="userData">
          <div class="sp-pic pull-left">
            <img src="{{userData.user_pic || '/assets/img/profile-pics/10.jpg'}}" alt="">
          </div>
          <div class="sp-info pull-right">
            {{userData.nome}}
          </div>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="cur-pointer" data-router-link="" aria-expanded="false"><i class="him-icon zmdi zmdi-more-vert"></i></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li class="hidden-xs">
              <a (click)="toggleFullscreen()"><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
            </li>
            <li>
              <a (click)="clearStorage()"><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
            </li>
            <li>
              <a (click)="privacySettings()"><i class="zmdi zmdi-face"></i> Privacy Settings</a>
            </li>
            <li>
              <a (click)="otherSettings()"><i class="zmdi zmdi-settings"></i> Other Settings</a>
            </li>
            <li class="divider hidden-xs"></li>
            <li>
              <a class="cur-pointer" data-router-link="" (click)="logout()"><i class="zmdi zmdi-square-right"></i> Sair do Sistema</a>
            </li>
          </ul>
        </li>
        <li class="hi-logo">
          <a class="cur-pointer" data-router-link="['/dashboard/']">
            <img src="/assets/img/logo.png" alt="">
          </a>
        </li>
      </ul>
    </li>
  </ul>
</header>