header{
  background-color: #fff;
  ul{
    padding-left: 268px;
  }
  li{
    a{
      color: #222;
    }
  }
  .h-inner{
    padding:0;
    .hi-trigger{
      padding-top:17px;
    }
    .hi-logo{
      padding-top:17px;
    }
    .pull-right{
      li{
        &.dropdown{
          padding-top: 17px;
          .dropdown-menu{
            top: 71px;
            padding-left: 0;
          }
        }
      }
      .hi-logo{
        padding-top: 10px;
        img{
          max-width: 50px;
          max-height: 50px;
        }         
      }
      .hi-user{
        cursor: initial;
        padding-top: 9px;
        .sp-info{
          padding: 16px 12px;
          font-weight: bold;
        }
      }
    }
  }
  .line-wrap{
    .line{
      background-color:#222;
    }
  }
  .hi-menu{
    .hi-user{
      .sp-pic{
        img{
          width: 47px;
          height: 47px;
          border-radius: 50%;
          border: 3px solid rgba(0, 0, 0, 0.14);
          box-sizing: content-box;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px){
  header{
    ul{
      padding-left: 0;
    }
  }
}

@media screen and (min-width: 1279px){
  .hi-logo{
    display: none;
  }
}