<footer id="footer">
  {{info.name}} - Copyright © 2017 - {{'v ' + info.version}}

  <!--<ul class="f-menu">
    <li><a [routerLink]="">Home</a></li>
    <li><a [routerLink]="">Dashboard</a></li>
    <li><a [routerLink]="">Reports</a></li>
    <li><a [routerLink]="">Support</a></li>
    <li><a [routerLink]="">Contact</a></li>
  </ul>-->
</footer>