<ol class="breadcrumb">
  <li><a href="#">CadSimples</a></li>
  <li class="active">Fornecedores</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>
    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Fornecedores Cadastrados <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div *ngIf="fornecedores.length">
          <ngx-datatable id="table" class="material striped" [rows]="fornecedores" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
            [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
            <ngx-datatable-column [flexGrow]="9" name="Nome"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Nova Cliente <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #fornecedorForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Dados do Fornecedor</p>
              <div class="col-sm-8 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="nome" class="form-control input-sm" InputObrigatorio autocomplete="off" ngModel #nome="ngModel">
                    <label class="fg-label">Nome</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="dataFundacao" id="dataFundacao" class="form-control input-sm date-picker" DateTimePicker autocomplete="off"
                      ngModel #dataFundacao="ngModel">
                    <label class="fg-label">Data de Fundação</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="nomeFantasia" class="form-control input-sm" autocomplete="off" ngModel #nomeFantasia="ngModel">
                    <label class="fg-label">Nome Fantasia</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group" ngModelGroup="documentacao" #documentacaoCtrl="ngModelGroup">
              <p class="c-black f-500 divider-section">Documentação</p>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="insc_estadual" class="form-control input-sm" autocomplete="off" ngModel #insc_estadual="ngModel">
                    <label class="fg-label">Insc. Estadual</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="cnpj" class="form-control input-sm" data-mask="cnpj" InputObrigatorio autocomplete="off" ngModel
                      #cnpj="ngModel" Mask="99.999.999/9999-99">
                    <label class="fg-label">CNPJ</label>
                  </div>
                </div>
              </div>

            </div>
            <br>
            <div class="row form-group" ngModelGroup="contato" #contatoCtrl="ngModelGroup">
              <p class="c-black f-500 divider-section">Contato</p>
              <div ngModelGroup="principal" #principalCtrl="ngModelGroup">
                <p class="c-black f-500 divider-section subdivider">Contato Primário</p>
                <div class="col-sm-5 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="nome" class="form-control input-sm" InputObrigatorio autocomplete="off" ngModel #nome="ngModel">
                      <label class="fg-label">Nome</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="fixo" class="form-control input-sm" data-mask="phone_with_ddd" autocomplete="off" ngModel #fixo="ngModel"
                        Mask="(99) 99999-9999">
                      <label class="fg-label">Tel. Principal</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="celular" class="form-control input-sm" data-mask="phone_with_ddd" autocomplete="off" ngModel #celular="ngModel"
                        Mask="(99) 99999-9999">
                      <label class="fg-label">Tel. Celular</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="data_nascimento" id="data_nascimento" class="form-control input-sm date-picker" DateTimePicker data-mask="date"
                        autocomplete="off" ngModel #data_nascimento="ngModel">
                      <label class="fg-label">Data de Nascimento</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="email" class="form-control input-sm" autocomplete="off" ngModel #email="ngModel">
                    <label class="fg-label">Email</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="website" class="form-control input-sm" autocomplete="off" ngModel #website="ngModel">
                    <label class="fg-label">Web Site</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="fax" Mask="(99) 99999-9999" class="form-control input-sm" data-mask="phone_with_ddd" autocomplete="off"
                      ngModel #fax="ngModel">
                    <label class="fg-label">Fax</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group" ngModelGroup="endereco" #enderecoCtrl="ngModelGroup">
              <p class="c-black f-500 divider-section">Endereço</p>
              <div class="col-sm-2 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="cep" class="form-control input-sm" CepRequest data-mask="cep" autocomplete="off" ngModel #cep="ngModel"
                      Mask="99999-999">
                    <label class="fg-label">CEP</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-8 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="logradouro" class="form-control input-sm" autocomplete="off" ngModel #logradouro="ngModel">
                    <label class="fg-label">Logradouro</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="numero" class="form-control input-sm" autocomplete="off" ngModel #numero="ngModel">
                    <label class="fg-label">Número</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="bairro" class="form-control input-sm" autocomplete="off" ngModel #bairro="ngModel">
                    <label class="fg-label">Bairro</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="localidade" class="form-control input-sm" autocomplete="off" ngModel #localidade="ngModel">
                    <label class="fg-label">Localidade</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="uf" class="form-control input-sm" autocomplete="off" ngModel #uf="ngModel" maxlength="2">
                    <label class="fg-label">UF</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="complemento" class="form-control input-sm" autocomplete="off" ngModel #complemento="ngModel">
                    <label class="fg-label">Complemento</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group" ngModelGroup="bancarios" #bancariosCtrl="ngModelGroup">
              <p class="c-black f-500 divider-section">Dados Bancários</p>
              <div class="col-sm-6 m-t-25">
                <select class="selectpicker w-100" name="cod_febraban" ngModel #cod_febraban="ngModel" data-live-search="true">
                    <option [ngValue]="''"> Selecionar Banco...</option>
                    <option [ngValue]="001"> Banco do Brasil S.A.</option>
                    <option [ngValue]="237"> Banco Bradesco S.A.</option>
                    <option [ngValue]="341"> Itaú Unibanco S.A.</option>
                    <option [ngValue]="104"> Caixa Econômica Federal</option>
                    <option [ngValue]="004"> Banco do Nordeste do Brasil S.A.</option>
                    <option [ngValue]="389"> Banco Mercantil do Brasil S.A.</option>
                    <option [ngValue]="003"> Banco da Amazônia S.A.</option>
                    <option [ngValue]="422"> Banco Safra S.A.</option>
                  </select>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="agencia" class="form-control input-sm" autocomplete="off" ngModel #agencia="ngModel" maxlength="6">
                    <label class="fg-label">Agência</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="conta_corrente" class="form-control input-sm" autocomplete="off" ngModel #conta_corrente="ngModel"
                      maxlength="10">
                    <label class="fg-label">Conta Corrente</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Observações</p>
              <div class="col-sm-12 m-t-15">
                <div class="fg-line">
                  <textarea class="form-control" name="observacoes" rows="5" ngModel #observacoes="ngModel"></textarea>
                </div>
              </div>
            </div>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="fornecedorForm.invalid" (click)="add(fornecedorForm, fornecedores)" class="btn btn-primary btn-sm m-t-30">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="fornecedorForm.invalid" (click)="update(fornecedorForm, fornecedores)"
            class="btn btn-success btn-sm m-t-30">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="fornecedorForm.invalid" (click)="remove(fornecedorForm, fornecedores)"
            class="btn btn-danger btn-sm m-t-30">Excluir</button>
          <button (click)="clear(fornecedorForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, fornecedorForm)"></action-button>
</ng-template>