<ol class="breadcrumb">
  <li><a href="#">CadSimples</a></li>
  <li class="active">Clientes</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li class="">
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>
    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Clientes Cadastradas <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div *ngIf="clientes.length">
          <ngx-datatable id="table" class="material striped" [rows]="clientes" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
            [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
            <ngx-datatable-column [flexGrow]="9" name="Nome"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane " id="cadastrar">
        <div class="card-header">
          <h2>Nova Cliente <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #clienteForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">

            <div class="row form-group">
              <p class="c-black f-500 divider-section">Dados do Cliente</p>
              <div class="col-sm-8 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="nome" class="form-control input-sm" InputObrigatorio autocomplete="off" ngModel #nome="ngModel">
                    <label class="fg-label">Nome</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-25">
                <select class="selectpicker w-100" name="tipoPessoa" ngModel #tipoPessoa="ngModel" data-live-search="true">
                    <option [ngValue]="''"> Selecionar Tipo de Pessoa...</option>
                    <option [ngValue]="'F'"> Pessoa Física</option>
                    <option [ngValue]="'J'"> Pessoa Jurídica</option>
                  </select>
              </div>
              <div class="col-sm-12 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="nomeFantasia" class="form-control input-sm" autocomplete="off" ngModel #nomeFantasia="ngModel">
                    <label class="fg-label">Nome Fantasia</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group" ngModelGroup="documentacao" #documentacaoCtrl="ngModelGroup">
              <p class="c-black f-500 divider-section">Documentação</p>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="insc_estadual" class="form-control input-sm" autocomplete="off" ngModel #insc_estadual="ngModel">
                    <label class="fg-label">Insc. Estadual</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="cpf" class="form-control input-sm" Mask="999.999.999-99" InputObrigatorio data-mask="cpf" autocomplete="off"
                      ngModel #cpf="ngModel">
                    <label class="fg-label">CPF</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="rg" class="form-control input-sm" autocomplete="off" ngModel #rg="ngModel">
                    <label class="fg-label">RG</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group" ngModelGroup="contato" #contatoCtrl="ngModelGroup">
              <p class="c-black f-500 divider-section">Contato</p>
              <div ngModelGroup="principal" #principalCtrl="ngModelGroup">
                <p class="c-black f-500 subdivider">Contato Primário</p>
                <div class="col-sm-5 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="nome" class="form-control input-sm" autocomplete="off" ngModel #nome="ngModel">
                      <label class="fg-label">Nome</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="fixo" class="form-control input-sm" Mask="(99) 99999-9999" data-mask="phone_with_ddd" autocomplete="off"
                        ngModel #fixo="ngModel">
                      <label class="fg-label">Tel. Principal</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="celular" class="form-control input-sm" Mask="(99) 99999-9999" data-mask="cellphone_with_ddd" autocomplete="off"
                        ngModel #celular="ngModel">
                      <label class="fg-label">Tel. Celular</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="data_nascimento" id="data_nascimento" class="form-control input-sm date-picker" DateTimePicker data-mask="date"
                        autocomplete="off" ngModel #data_nascimento="ngModel">
                      <label class="fg-label">Data de Nascimento</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-t-25" ngModelGroup="secundario" #secundarioCtrl="ngModelGroup">
                <p class="c-black f-500 subdivider">Contato Secundário</p>
                <div class="col-sm-5 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="nome" class="form-control input-sm" autocomplete="off" ngModel #nome="ngModel">
                      <label class="fg-label">Nome</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="fixo" class="form-control input-sm" Mask="(99) 99999-9999" data-mask="phone_with_ddd" autocomplete="off"
                        ngModel #fixo="ngModel">
                      <label class="fg-label">Tel. Principal</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="celular" class="form-control input-sm" Mask="(99) 99999-9999" data-mask="cellphone_with_ddd" autocomplete="off"
                        ngModel #celular="ngModel">
                      <label class="fg-label">Tel. Celular</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 m-t-15">
                  <div class="input-group fg-float p-t-10 w-100">
                    <div class="fg-line">
                      <input type="text" name="data_nascimento" id="data_nascimento2" class="form-control input-sm date-picker" DateTimePicker
                        data-mask="date" autocomplete="off" ngModel #data_nascimento="ngModel">
                      <label class="fg-label">Data de Nascimento</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="email" class="form-control input-sm" autocomplete="off" ngModel #email="ngModel">
                    <label class="fg-label">Email</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="website" class="form-control input-sm" autocomplete="off" ngModel #website="ngModel">
                    <label class="fg-label">Web Site</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="fax" class="form-control input-sm" Mask="(99) 99999-9999" data-mask="phone_with_ddd" autocomplete="off"
                      ngModel #fax="ngModel">
                    <label class="fg-label">Fax</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group" ngModelGroup="endereco" #enderecoCtrl="ngModelGroup">
              <p class="c-black f-500 divider-section">Endereço</p>
              <div class="col-sm-2 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="cep" class="form-control input-sm" Mask="99999-999" data-mask="cep" autocomplete="off"
                      ngModel #cep="ngModel">
                    <label class="fg-label">CEP</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-8 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="logradouro" class="form-control input-sm" autocomplete="off" ngModel #logradouro="ngModel">
                    <label class="fg-label">Logradouro</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="numero" class="form-control input-sm" autocomplete="off" ngModel #numero="ngModel" maxlength="5">
                    <label class="fg-label">Número</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="bairro" class="form-control input-sm" autocomplete="off" ngModel #bairro="ngModel">
                    <label class="fg-label">Bairro</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="localidade" class="form-control input-sm" autocomplete="off" ngModel #localidade="ngModel">
                    <label class="fg-label">Localidade</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="uf" class="form-control input-sm" autocomplete="off" ngModel #uf="ngModel" maxlength="2">
                    <label class="fg-label">UF</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="complemento" class="form-control input-sm" autocomplete="off" ngModel #complemento="ngModel">
                    <label class="fg-label">Complemento</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group" ngModelGroup="bancarios" #bancariosCtrl="ngModelGroup">
              <p class="c-black f-500 divider-section">Dados Bancários</p>
              <div class="col-sm-6 m-t-25">
                <select-bancos [cod_febraban]="cod_febraban"></select-bancos>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="agencia" class="form-control input-sm" maxlength="6" autocomplete="off" ngModel
                      #agencia="ngModel">
                    <label class="fg-label">Agência</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 m-t-15">
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="conta_corrente" class="form-control input-sm" maxlength="10" autocomplete="off"
                      ngModel #conta_corrente="ngModel">
                    <label class="fg-label">Conta Corrente</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Observações</p>
              <div class="col-sm-12 m-t-15">
                <div class="fg-line">
                  <textarea class="form-control" name="observacoes" rows="5" ngModel #observacoes="ngModel"></textarea>
                </div>
              </div>
            </div>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="clienteForm.invalid" (click)="add(clienteForm, clientes)" class="btn btn-primary btn-sm m-t-30">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="clienteForm.invalid" (click)="update(clienteForm, clientes)" class="btn btn-success btn-sm m-t-30">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="clienteForm.invalid" (click)="remove(clienteForm, clientes)" class="btn btn-danger btn-sm m-t-30">Excluir</button>
          <button (click)="clear(clienteForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, clienteForm)"></action-button>
</ng-template>