<div class="toggle-switch toggle-switch-demo">
  <input id="ts{{row._id}}" type="checkbox" hidden="hidden">
  <label for="ts{{row._id}}" class="ts-helper m-t-10" (click)="toggle(row, Form)"></label>
</div>