<div class="row">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-header">
        <h2>Saldo de Conta</h2>
      </div>
      <div class="card-body card-padding m-t-15">
        <div class="row">
          <div class="col-sm-12" *ngIf="saldoContas.length">
            <select [(ngModel)]="contaSaldo" name="contaSaldo" id="select-contasSaldo" class="selectpicker w-100 z-depth-1" [data]="saldoContas"
              [value]="'saldo'" [label]="'nome'">
              <option value=""> </option>
                </select>
          </div>
          <div class="col-sm-4">
            <h4>Saldo:{{(contaSaldo|| 0) | currency: 'BRL':true:'1.2-2'}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="card">
      <div class="card-header">
        <h2>Balanço Mensal - {{filtro.mes + '/' + filtro.ano}}</h2>
      </div>
      <div class="card-body card-padding m-t-25">
        <p class="f-500 c-black m-0">RECEITAS<small class="pull-right" *ngIf="balanco.receita">{{balanco.receita.pago | currency: 'BRL':true: '1.2-2'}} de {{balanco.receita.total | currency: 'BRL':true: '1.2-2'}}</small></p>
        <div class="progress m-b-10">
          <div id="receitas-progress-bar" class="progress-bar w-0" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="f-500 c-black m-0">DESPESAS<small class="pull-right" *ngIf="balanco.despesa">{{balanco.despesa.pago | currency: 'BRL':true: '1.2-2'}} de {{balanco.despesa.total | currency: 'BRL':true: '1.2-2'}}</small></p>
        <div class="progress m-b-10">
          <div id="despesas-progress-bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 m-b-30">
    <div class="col-sm-2">
      <p class="f-500 c-black m-b-15">Ano de Busca</p>
      <div class="btn btn-default" id="anoFiltro-place">
        <select class="selectpicker w-100" id="select-filtro-ano" name="filtro.ano" [(ngModel)]="filtro.ano" (change)="selectInterval(filtro.mes, filtro.ano)"
          [data]="anosMovimento" [value]="'ano'" [label]="'ano'" *ngIf="anosMovimento.length">
        </select>
      </div>
    </div>
    <div class="col-sm-10">
      <p class="f-500 c-black m-b-15">Mês de Busca</p>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(1, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 1,'btn-default': filtro.mes != 1}">Jan </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(2, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 2,'btn-default': filtro.mes != 2}">Fev </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(3, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 3,'btn-default': filtro.mes != 3}">Mar </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(4, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 4,'btn-default': filtro.mes != 4}">Abr </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(5, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 5,'btn-default': filtro.mes != 5}">Mai </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(6, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 6,'btn-default': filtro.mes != 6}">Jun </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(7, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 7,'btn-default': filtro.mes != 7}">Jul </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(8, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 8,'btn-default': filtro.mes != 8}">Ago </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(9, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 9,'btn-default': filtro.mes != 9}">Set </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(10, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 10,'btn-default': filtro.mes != 10}">Out </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(11, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 11,'btn-default': filtro.mes != 11}">Nov </button>
      <button class="btn col-xs-1 waves-effect" (click)="selectInterval(12, filtro.ano)" [ngClass]="{'bgm-teal': filtro.mes == 12,'btn-default': filtro.mes != 12}">Dez </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div role="tabpanel" class="tabpanel">
        <ul class="tab-nav tab-nav-justified" role="tablist">
          <li class="active">
            <a href="#receitas" aria-controls="receitas" role="tab" data-toggle="tab" id="tab-receitas" (click)="tab = 0"> Receitas </a></li>
          <li>
            <a href="#despesas" aria-controls="despesas" role="tab" data-toggle="tab" id="tab-despesas" (click)="tab = 1"> Despesas </a></li>
        </ul>
        <div class="tab-content p-0">
          <div role="tabpanel" class="tab-pane active" id="receitas">
            <div class="card-body">
              <div class="card-padding m-l-25">
                <button class="btn btn-primary btn-sm m-t-30" data-toggle="modal" data-target="#modalMovimento">Adicionar</button>
                <button class="btn btn-danger btn-sm m-t-30" (click)="removerMovimentos()">Excluir</button>
                <button class="btn bgm-lightgreen btn-sm m-t-30" (click)="emitirRecibo(receitas)">Emitir Recibo</button>
              </div>
              <div class="m-t-20" *ngIf="receitas.length" #tableWrapperReceitas>
                <ngx-datatable #tabReceitas id="table" class="material striped" [rows]="receitas" [columnMode]="'flex'" [headerHeight]="50"
                  [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
                  <ngx-datatable-column [flexGrow]="1" name="#">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <div class="checkbox m-b-15">
                        <label>
                            <input type="checkbox" [(ngModel)]="row.check" value="">
                            <i class="input-helper"></i>
                        </label>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="2" name="Vencimento">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.pagamento.vencimento | date: 'dd/MM/y' }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="2" name="Valor da Parcela">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.pagamento.valores.parcelado | number:'1.2'}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="4" name="Recebido de">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row._cliente?row._cliente.nome:'-'}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="2" name="Forma de Pagamento">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.pagamento._formapagamentos.nome}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="2" name="Numero da Parcela">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.pagamento.numeroParcela}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="1" name="Pago">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <i class="zmdi zmdi-hc-2x zmdi-{{row.pago?'check-circle c-lightgreen':'circle-o c-red'}}"></i>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="despesas">
            <div class="card-body">
              <div class="card-padding m-l-25">
                <button class="btn btn-primary btn-sm m-t-30" data-toggle="modal" data-target="#modalMovimento">Adicionar</button>
                <button class="btn btn-danger btn-sm m-t-30" (click)="removerMovimentos(despesas)">Excluir</button>
              </div>
              <div class="m-t-20" *ngIf="despesas.length">
                <ngx-datatable #tableWrapperDespesas id="table" class="material striped" [rows]="despesas" [columnMode]="'flex'" [headerHeight]="50"
                  [footerHeight]="50" [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
                  <ngx-datatable-column [flexGrow]="1" name="#">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <div class="checkbox m-b-15">
                        <label>
                            <input type="checkbox" [(ngModel)]="row.check" value="">
                            <i class="input-helper"></i>
                        </label>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="2" name="Vencimento">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.pagamento.vencimento | date:'dd/MM/y'}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="2" name="Valor da Parcela">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.pagamento.valores.parcelado | number:'1.2'}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="4" name="Recebido de">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row._cliente?row._cliente.nome:'-'}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="2" name="Forma de Pagamento">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.pagamento._formapagamentos.nome}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="2" name="Numero da Parcela">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.pagamento.numeroParcela}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="1" name="Pago">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <i class="zmdi zmdi-hc-2x zmdi-{{row.pago?'check-circle c-lightgreen':'circle-o c-red'}}"></i>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ModalMovimento -->
<div class="modal fade" id="modalMovimento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg modal-toggle" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="btn-close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="card-header p-b-0 m-b-20">
          <h2 *ngIf="tab == 0">Nova Receita</h2>
          <h2 *ngIf="tab == 1">Nova Despesa</h2>
        </div>
        <div class="card-body card-padding p-b-15">
          <form #movimentoForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #pago="ngModel" name="pago" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
            <div class="row form-group">
              <p class="c-black f-500 divider-section m-t-15 m-b-15">Dados de Cobrança</p>
              <div class="col-sm-12 m-b-15">
                <p class="f-500 c-black m-b-15">Cliente</p>
                <div *ngIf="clientes.length">
                  <select [(ngModel)]="_cliente" name="_cliente" id="select-clientes" class="selectpicker w-100 z-depth-1" data-live-search="true"
                    [data]="clientes">
                            <option value=""> </option>
                        </select>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div ngModelGroup="pagamento" #pagamentoCtrl="ngModelGroup">
                <p class="c-black f-500 divider-section m-t-15 m-b-15">Dados de Pagamento</p>
                <div class="col-sm-6 m-b-15">
                  <p class="f-500 c-black m-b-15">Plano de Contas</p>
                  <div *ngIf="planocontas.length">
                    <select [(ngModel)]="_planocontas" name="_planocontas" id="select-planocontas" class="selectpicker w-100 z-depth-1" data-live-search="true"
                      [data]="planocontas">
                            <option value=""> </option>
                        </select>
                  </div>
                </div>
                <div class="col-sm-6 m-b-15">
                  <p class="f-500 c-black m-b-15">Conta Bancária</p>
                  <div *ngIf="contas.length">
                    <select [(ngModel)]="_conta" name="_conta" id="select-contas" class="selectpicker w-100 z-depth-1" data-live-search="true"
                      [data]="contas">
                            <option value=""> </option>
                        </select>
                  </div>
                </div>
                <div class="col-sm-6 m-t-15">
                  <p class="f-500 c-black m-b-15">Forma de Pagamento</p>
                  <div *ngIf="formapagamentos.length">
                    <select [(ngModel)]="_formapagamentos" name="_formapagamentos" id="select-formapagamentoss" class="selectpicker w-100 z-depth-1"
                      data-live-search="true" [data]="formapagamentos" (change)="_formaPagamentoChange($event, movimentoForm)"
                      (blur)="calculaParcela(movimentoForm)">
                            <option value=""> </option>
                        </select>
                  </div>
                </div>
                <div ngModelGroup="valores" #valoresCtrl="ngModelGroup">
                  <div class="col-sm-3 m-b-15">
                    <p class="f-500 c-black m-b-15">Valor Total</p>
                    <div class="input-group fg-float p-t-15 w-100">
                      <div class="fg-line">
                        <input type="text" name="total" class="form-control input-sm mask" autocomplete="off" [(ngModel)]="total" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                          (blur)="calculaParcela(movimentoForm)">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 m-b-15" [ngClass]="{'hidden': (!parcelamento.tipo || parcelamento.tipo == '0')}">
                  <p class="f-500 c-black m-b-15" *ngIf="parcelamento.tipo == '3'">Vencimento Mensal</p>
                  <p class="f-500 c-black m-b-15" *ngIf="(parcelamento.tipo != '3')">Data da Primeira Parcela</p>
                  <div class="input-group form-group p-t-10">
                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                    <div class="dtp-container">
                      <input type='text' class="form-control date-picker" name="dataReferencia" ngModel #dataReferencia="ngModel" DateTimePicker>
                    </div>
                  </div>
                </div>
                <div ngModelGroup="valores" #valoresCtrl="ngModelGroup">
                  <div class="col-sm-4 m-b-15" [ngClass]="{'hidden': (!parcelamento.tipo || parcelamento.tipo == '0') || !edit}">
                    <p class="f-500 c-black m-b-15">Valor da Parcela</p>
                    <div class="input-group fg-float p-t-5  w-100">
                      <div class="fg-line">
                        <input type="text" [readonly]="movimentoForm.value._id" name="parcelado" class="form-control input-sm mask" autocomplete="off"
                          ngModel #parcelado="ngModel" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 m-b-15" [ngClass]="{'hidden': (!parcelamento.tipo || parcelamento.tipo == '0' || parcelamento.tipo == '3'  ) || !edit}">
                  <p class="f-500 c-black m-b-15"> Data de Vencimento da Parcela</p>
                  <div class="input-group form-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                    <div class="dtp-container">
                      <input type='text' [readonly]="movimentoForm.value._id" [ngClass]="{'bgm-white':movimentoForm.value._id}" class="form-control date-picker"
                        name="vencimento" ngModel #vencimento="ngModel">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 m-b-15" [ngClass]="{'hidden': (!parcelamento.tipo || parcelamento.tipo == '0') || !edit}">
                  <p class="f-500 c-black m-b-15">Número da Parcela</p>
                  <div class="input-group fg-float p-t-5 w-100">
                    <div class="fg-line">
                      <input type="text" [readonly]="movimentoForm.value._id" name="numeroParcela" class="form-control input-sm" autocomplete="off"
                        [(ngModel)]="numeroParcela">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Observações</p>
              <div class="col-sm-12 m-t-15">
                <div class="fg-line">
                  <textarea class="form-control" name="observacoes" rows="5" ngModel #observacoes="ngModel"></textarea>
                </div>
              </div>
            </div>
            <br>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="movimentoForm.invalid" (click)="add(movimentoForm)" class="btn btn-primary btn-sm m-t-30">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="movimentoForm.invalid" (click)="update(movimentoForm)" class="btn btn-success btn-sm m-t-30">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="movimentoForm.invalid" (click)="remove(movimentoForm)" class="btn btn-danger btn-sm m-t-30">Excluir</button>
          <button [ngClass]="{'hidden': movimentoForm.value.pago}" class="btn bgm-lightgreen btn-sm m-t-30" (click)="pagar(movimentoForm, true)">{{(tab==0?'Receber':'Pagar') + ' Agora'}}</button>
          <button [ngClass]="{'hidden': !movimentoForm.value.pago}" class="btn bgm-deeporange btn-sm m-t-30" (click)="pagar(movimentoForm, false)">Cancelar Recebimento</button>
          <button (click)="clear(movimentoForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, movimentoForm)" data-toggle="modal" data-target="#modalMovimento"></action-button>
</ng-template>