<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>

    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active " id="consultar">
        <div class="card-header">
          <h2>Orçamentos Cadastrados<small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div *ngIf="orcamentos.length">
          <ngx-datatable #tableOrcamentos class="material striped" [rows]="orcamentos" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
            [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
            <ngx-datatable-column [flexGrow]="4" name="Cliente" [resizeable]="false">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row._cliente?row._cliente.nome:'-'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="4" name="Arquiteto" [resizeable]="false">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row._cliente?row._arquiteto.nome:'-'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="aprovadoTmpl" name="Status" [sortable]="false" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [resizeable]="false"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Novo Orçamento <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #orcamentoForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">

            <div class="row form-group">
              <p class="c-black f-500 divider-section  m-b-20">Dados do Orçamento</p>

              <div class="col-sm-5">
                <p class="f-500 c-black m-b-15">Cliente</p>
                <div *ngIf="clientes.length">
                  <select [(ngModel)]="_cliente" name="_cliente" id="select-clientes" class="selectpicker m-b-15 w-100 z-depth-1" data-live-search="true"
                    [data]="clientes">
                            <option value=""> </option>
                        </select>
                </div>
              </div>
              <div class="col-sm-5 m-b-25">
                <p class="f-500 c-black m-b-15">Arquiteto</p>
                <div *ngIf="arquitetos.length">
                  <select [(ngModel)]="_arquiteto" name="_arquiteto" id="select-arquitetos" class="selectpicker w-100 z-depth-1" data-live-search="true"
                    [data]="arquitetos">
                            <option value=""> </option>
                        </select>
                </div>
              </div>
              <div class="col-sm-2 m-b-25">
                <p class="f-500 c-black m-b-15">Aprovado</p>
                <select class="selectpicker w-100" name="aprovado" ngModel #aprovado="ngModel" data-live-search="true">
														<option [ngValue]="'false'"> Não</option>
                            <option [ngValue]="'true'" > Sim</option>
                        </select>
              </div>
              <div role="tabpanel2" class="tabpanel">
                <ul class="tab-nav" role="tablist2">
                  <li class="active">
                    <a href="#material" aria-controls="material" role="tab" data-toggle="tab" id="tab-material"> Móvel </a></li>
                  <li>
                    <a href="#esquadrias" aria-controls="esquadrias" role="tab" data-toggle="tab" id="tab-esquadrias"> Esquadrias </a></li>
                  <li>
                    <a href="#detalhes" aria-controls="detalhes" role="tab" data-toggle="tab" id="tab-detalhes"> Detalhes </a></li>
                  <li>
                    <a href="#pagamentoeentrega" aria-controls="pagamentoeentrega" role="tab" data-toggle="tab" id="tab-pagamentoeentrega"> Pagamento e Entrega </a></li>
                </ul>
                <div class="tab-content p-0">
                  <div role="tabpanel2" class="tab-pane active" id="material">
                    <inc-moveis [orcamento_id]="orcamentoForm.value._id" [orcamento_itens]="orcamento_itens" [orcamento_moveis]="orcamento_moveis"></inc-moveis>
                  </div>
                  <div role="tabpanel2" class="tab-pane" id="esquadrias">
                  </div>
                  <div role="tabpanel2" class="tab-pane" id="detalhes" ngModelGroup="observacoes" #observacoesCtrl="ngModelGroup">
                    <div class="card-body card-padding p-b-15" ngModelGroup="itens" #itensCtrl="ngModelGroup">
                      <div class="row form-group">
                        <p class="c-black f-500 divider-section">Itens Inclusos</p>
                        <div class="col-sm-12 m-t-15">
                          <div class="fg-line">
                            <textarea class="form-control" name="inclusos" rows="5" ngModel #inclusos="ngModel"></textarea>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row form-group">
                        <p class="c-black f-500 divider-section">Itens não Inclusos</p>
                        <div class="col-sm-12 m-t-15">
                          <div class="fg-line">
                            <textarea class="form-control" name="nao_inclusos" rows="5" ngModel #nao_inclusos="ngModel"></textarea>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="card-body card-padding p-b-15">
                      <div class="row form-group">
                        <p class="c-black f-500 divider-section">Obs. Móveis</p>
                        <div class="col-sm-12 m-t-15">
                          <div class="fg-line">
                            <textarea class="form-control" name="moveis" rows="5" ngModel #moveis="ngModel"></textarea>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row form-group">
                        <p class="c-black f-500 divider-section">Obs. Esquadrias</p>
                        <div class="col-sm-12 m-t-15">
                          <div class="fg-line">
                            <textarea class="form-control" name="esquadrias" rows="5" ngModel #esquadrias="ngModel"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel2" class="tab-pane" id="pagamentoeentrega">
                    <div class="card-body card-padding p-b-15">
                      <br>
                      <div class="row form-group">
                        <p class="f-500 c-black m-b-15">Forma de Pagamento</p>

                        <div class="col-sm-4 m-t-15">
                          <div *ngIf="formapagamentos.length">
                            <select (ngModel)="_formapagamento" name="_formapagamento" class="selectpicker w-100 z-depth-1" [value]="'_id'" [label]="'nome'"
                              [data]="formapagamentos">
                            <option value=""> </option>
	                        </select>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div ngModelGroup="entrega" #entregaCtrl="ngModelGroup">
                        <div ngModelGroup="local" #localCtrl="ngModelGroup">
                          <p class="c-black f-500 divider-section">Endereço de Entrega</p>
                          <div class="col-sm-2 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="cep" class="form-control input-sm input-mask" data-mask="cep" autocomplete="off" ngModel #cep="ngModel">
                                <label class="fg-label">CEP</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="logradouro" class="form-control input-sm" autocomplete="off" ngModel #logradouro="ngModel">
                                <label class="fg-label">Logradouro</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-2 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="numero" class="form-control input-sm" autocomplete="off" ngModel #numero="ngModel">
                                <label class="fg-label">Número</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="bairro" class="form-control input-sm" autocomplete="off" ngModel #bairro="ngModel">
                                <label class="fg-label">Bairro</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="localidade" class="form-control input-sm" autocomplete="off" ngModel #localidade="ngModel">
                                <label class="fg-label">Localidade</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-2 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="uf" class="form-control input-sm" autocomplete="off" ngModel #uf="ngModel">
                                <label class="fg-label">UF</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="complemento" class="form-control input-sm" autocomplete="off" ngModel #complemento="ngModel">
                                <label class="fg-label">Complemento</label>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div ngModelGroup="datas" #datasCtrl="ngModelGroup">
                          <p class="c-black f-500 divider-section" style=" margin-top: 130px">Datas de Entrega</p>
                          <div class="col-sm-6 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="prevista" id="prevista" class="form-control input-sm input-mask date-picker" DateTimePicker data-mask="date"
                                  autocomplete="off" ngModel #prevista="ngModel">
                                <label class="fg-label">Data Prevista de Entrega</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 m-t-15">
                            <div class="input-group fg-float p-t-10 w-100">
                              <div class="fg-line">
                                <input type="text" name="definitiva" id="definitiva" class="form-control input-sm input-mask date-picker" DateTimePicker
                                  data-mask="date" autocomplete="off" ngModel #definitiva="ngModel">
                                <label class="fg-label">Data de Entrega Definitiva</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button [ngClass]="{'hidden': edit}" [disabled]="orcamentoForm.invalid" (click)="add(orcamentoForm, orcamentos)" class="btn btn-primary btn-sm m-t-25">Adicionar Orçamento</button>
                  <button [ngClass]="{'hidden': !edit}" [disabled]="orcamentoForm.invalid" (click)="update(orcamentoForm, orcamentos)" class="btn btn-success btn-sm m-t-25">Atualizar Orçamento</button>
                  <button [ngClass]="{'hidden': !edit}" [disabled]="orcamentoForm.invalid" (click)="remove(orcamentoForm, orcamentos)" class="btn btn-danger btn-sm m-t-25">Excluir Orçamento</button>
                  <button (click)="clear(orcamentoForm)" class="btn btn-default btn-sm m-t-25">Limpar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #aprovadoTmpl let-row="row" let-value="value">
  <i style="padding-left:13px" class="zmdi zmdi-hc-2x zmdi-assignment-{{row.aprovado?'check  c-green ':'o  c-red '}}"></i>
</ng-template>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, orcamentoForm)"></action-button>
</ng-template>
