<div class="col-sm-6  col-md-7  col-lg-8">
  <div class="col-sm-12">
    <app-agenda [defaultView]="'listMonth'" [agenda_id]="'wdg-agenda-detail'" [eventos]="eventos"></app-agenda>
  </div>
</div>
<div class="col-sm-6 col-md-5 col-lg-4">

  <div class="col-sm-12">
    <app-agenda [agenda_id]="'wdg-agenda-calendar'" [eventos]="eventos"></app-agenda>
  </div>
  <div class="col-sm-12">
    <app-todo></app-todo>
  </div>
</div>