<ol class="breadcrumb">
  <li><a href="#">Financeiro</a></li>
  <li class="active">Contas</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>
    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Contas Cadastradas <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div *ngIf="contas.length">
          <ngx-datatable id="table" class="material striped" [rows]="contas" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
            [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
            <ngx-datatable-column [flexGrow]="9" name="Nome"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Nova Conta <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #contaForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
            <input type="hidden" ngModel #cod_febraban="ngModel" name="cod_febraban" autocomplete="off">
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Dados da Conta</p>
              <div class="col-sm-12 m-t-15">
                <p class="f-500 c-black m-b-15">Descrição</p>
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="nome" class="form-control input-sm" InputObrigatorio autocomplete="off" ngModel #nome="ngModel">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 m-t-15">
                <p class="f-500 c-black m-b-15">Banco</p>
                <div class="col-sm-6 m-t-25">
                  <div *ngIf="cod_febraban">
                    <select-bancos [cod_febraban]="cod_febraban"></select-bancos>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 m-t-15">
                <p class="f-500 c-black m-b-15">Agência</p>
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="agencia" class="form-control input-sm" autocomplete="off" ngModel #agencia="ngModel">
                  </div>
                </div>
              </div>
              <div class="col-sm-12 m-t-15">
                <p class="f-500 c-black m-b-15">Conta Corrente</p>
                <div class="input-group fg-float p-t-10 w-100">
                  <div class="fg-line">
                    <input type="text" name="conta_corrente" class="form-control input-sm" autocomplete="off" ngModel #conta_corrente="ngModel">
                  </div>
                </div>
              </div>
            </div>
            <br>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="contaForm.invalid" (click)="add(contaForm, contas)" class="btn btn-primary btn-sm m-t-30">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="contaForm.invalid" (click)="update(contaForm, contas)" class="btn btn-success btn-sm m-t-30">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="contaForm.invalid" (click)="remove(contaForm, contas)" class="btn btn-danger btn-sm m-t-30">Excluir</button>
          <button (click)="clear(contaForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, contaForm)"></action-button>
</ng-template>