<ol class="breadcrumb">
  <li><a href="#">Cadastro Simples</a></li>
  <li class="active">Materiais</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>
    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Materiais Cadastrados <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        
          <ngx-datatable id="table" class="material striped" [rows]="materiais" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
            [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
             <ngx-datatable-column [flexGrow]="9" name="Nome">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.descricao.resumida }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
          </ngx-datatable>
        
    </div>
    <div role="tabpanel" class="tab-pane" id="cadastrar">
      <div class="card-header">
        <h2>Novo Material <small></small> </h2>
      </div>
      <div style="clear:both">&nbsp;</div>
      <div class="card-body card-padding p-b-15">
        <form #materialForm="ngForm" novalidate class="m-b-20">
          <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
          <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
          <div class="row form-group" ngModelGroup="descricao" #descricaoCtrl="ngModelGroup">
            <p class="c-black f-500 divider-section">Dados do Material</p>
            <div class="col-sm-12 m-t-15">
              <div class="input-group fg-float p-t-10 w-100">
                <div class="fg-line">
                  <input type="text" name="resumida" class="form-control input-sm" autocomplete="off" ngModel #resumida="ngModel">
                  <label class="fg-label">Descrição Resumida</label>
                </div>
              </div>
            </div>
            <div class="col-sm-12 m-t-15">
              <div class="fg-line">
                <textarea class="form-control" name="detalhada" rows="5" ngModel #detalhada="ngModel" placeholder="Descrição Detalhada"></textarea>
              </div>
            </div>
          </div>
          <br>
        </form>
        <button [ngClass]="{'hidden': edit}" [disabled]="materialForm.invalid" (click)="add(materialForm, materiais)" class="btn btn-primary btn-sm m-t-30">Adicionar</button>
        <button [ngClass]="{'hidden': !edit}" [disabled]="materialForm.invalid" (click)="update(materialForm, materiais)" class="btn btn-success btn-sm m-t-30">Atualizar</button>
        <button [ngClass]="{'hidden': !edit}" [disabled]="materialForm.invalid" (click)="remove(materialForm, materiais)" class="btn btn-danger btn-sm m-t-30">Excluir</button>
        <button (click)="clear(materialForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>

      </div>
    </div>
  </div>
</div>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, materialForm)"></action-button>
</ng-template>