<app-header [userData]="userData"></app-header>

<section id="main">
    <app-navigation [userData]="userData"></app-navigation>

    <section id="content">
        <div class="progress m-b-10" id="service-loader">
            <div class="progress-bar" role="progressbar" style="width: 0%"></div>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </section>

    <app-footer [info]="info"></app-footer>
</section>