<div class="content">
  <div class="page">
    <div class="title">
      <h2>RECIBO</h2>
    </div>
    <div class="texto parag1_5cm">
      <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Recebi de <b>dataRPT._cliente.nome</b>, dataRPT.servico, a importância de <b>R$ dataRPT.valor</b>
      (dataRPT.valor_extenso), referente a dataRPT.pagamento.numeroParcela parcela do contrato de execução do mesmo, pelo que firmo o presente recibo,
      dando plena e total quitação desta parcela.</p>
    </div>
    <div class="date-place">
      <p>dataRPT.local.cidade(dataRPT.local.UF), dataRPT.printDate</p>
    </div>
    <div class="signature-place">
      <p>___________________________________________</p>
      <p>dataRPT.assinante</p>
    </div>
  </div>
</div>
