<router-outlet></router-outlet>
<simple-notifications [options]="notifications_opt"></simple-notifications>
<div id="l-load">
    <div class="load-place">
        <div class="preloader pls-green pl-xl" id="loader-content">
            <svg class="pl-circular " viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"></circle>
            </svg>
        </div>
    </div>
</div> 