 #l-load{
      position: absolute;
      width: 100%;
      height: 100vh;
      z-index: 14;
      top: 0;
      left: 0;
      background-color: #edecec;
      overflow: hidden;
      .load-place{
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate3d(-40px, -40px,0);
      }
  }

  
  #service-loader{
    z-index: 15;
  }