/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  background: url('./assets/img/bg-login.png');
  .simple-notification {
    .sn-content {
      padding: 10px 20px !important;
    }
  }
  &.login-content {
    height: 100%;
    background-size: cover;
    background: url('./assets/img/bg-login.png');
    .simple-notification-wrapper {
      width: 25% !important;
    }
  }
  &.sw-toggled {
    overflow: scroll !important;
    #l-load {
      z-index: 10;
      .load-place {
        left: 60vw;
      }
    }
  }
  &.login-content {
    background-color: #0b7ebd;
    button {
      background-color: #ea6638 !important;
      color: #fff;
      &:hover {
        background-color: #eb3d00 !important
      }
    }
  }
}

.breadcrumb {
  padding: 0px !important;
  margin-top: 0px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(144, 95, 28, 0.6);
  li {
    text-transform: uppercase;
    +li:before {
      color: rgba(144, 95, 28, 0.6);
    }
    a {
      color: rgba(144, 95, 28, 0.6);
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        color: rgba(144, 95, 28, 0.8);
      }
    }
    &.active {
      color: rgba(144, 95, 28, 0.6);
      font-weight: bold;
    }
  }
}

.cur-pointer {
  cursor: pointer;
}

.divider-section {
  background: #fff;
  font-size: 14px;
  border-bottom: black solid 1px;
  margin: 0;
}

.tab-nav:not(.tn-vertical):not([data-tab-color])>li>a:after,
.checkbox input:checked+.input-helper:before,
.fg-line:not([class*=has-]):after {
  background-color: #ececec;
  height: 1px;
}

@media (min-width: 1280px) {
  .breadcrumb {
    padding: 10px 33px 11px 20px;
    li {
      text-transform: uppercase;
    }
  }
}

datatable-header {
  height: auto !important;
}

.ngx-datatable {
  background: #FFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  &.striped {
    .datatable-row-odd {
      background: #eee;
    }
  }
  .empty-row {
    height: 50px;
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
  }
  .loading-row {
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
  }
  .fixed-header {}
  .datatable-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .datatable-header-cell {
      padding: 15px;
      text-align: left;
      padding: .5rem 1.2rem;
      font-weight: 400;
      color: #757575;
      vertical-align: bottom;
      &:not('.sortable') {
        div {
          text-align: center;
        }
      }
      .datatable-header-cell-wrapper {
        position: relative;
        .datatable-header-cell-label {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
  .datatable-body-row {
    padding: 10px 15px;
    .datatable-body-cell {
      .sort-active {}
      .sort-asc {}
      .sort-desc {}
    }
  }
  .datatable-footer {
    // padding: 15px;
    // text-transform: uppercase;
    // font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px;
    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }
    .datatable-pager {
      margin: 0 10px; //line-height: 50px;
      .pager {
        li {
          vertical-align: middle;
          &.disabled a {
            color: rgba(0, 0, 0, 0.26) !important;
            background-color: transparent !important;
          }
          &.active a {
            background-color: rgba(158, 158, 158, 0.2);
            font-weight: bold;
          }
          a {
            margin: 6px 2px !important;
            background-color: transparent !important;
            padding-top: 4px;
            border: 1px solid #eee;
            border-radius: 100%;
            min-width: 27px;
            min-height: 27px;
            &.active {
              background-color: rgba(158, 158, 158, 0.2);
              font-weight: bold;
            }
          }
          &.pages {
            a {
              padding-top: 2px;
              border-radius: 100%;
              font-size: smaller;
            }
            &.active {
              a {
                background-color: rgba(158, 158, 158, 0.2)!important;
                ;
                font-weight: bold;
              }
            }
          }
        }
      }
      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0 6px;
        border-radius: 3px;
        margin: 6px 3px;
        text-align: center;
        vertical-align: top;
        color: rgba(0, 0, 0, .54);
        text-decoration: none;
        vertical-align: bottom;
        &:hover {
          color: rgba(0, 0, 0, .75);
          background-color: rgba(158, 158, 158, 0.2);
        }
      }
      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 20px;
        line-height: 20px;
        padding: 0 3px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .page-count {
    display: none !important;
  }
}

.bootstrap-select>.btn-default:before {
  background-color: transparent;
}

.modpag-accordion {
  border-top: 1px solid #ccc;
  .list-group-item {
    border-bottom: 1px solid #ccc;
  }
}

.fc-header-toolbar {
  margin-bottom: 0 !important;
  background-color: #2196F3;
  .fc-button {
    margin-top: 5px;
    color: #fff;
    &:hover {
      color: #222;
    }
  }
  h2 {
    color: #fff
  }
}

//  .fc-content-skeleton{
//     max-height: 50px;
//     overflow-y: hidden;
// }
#wdg-agenda-detail {
  .fc-list-item {
    background-color: transparent !important;
    &.bgm-blue {
      .fc-event-dot {
        background-color: #2196F3
      }
    }
    &.bgm-teal {
      .fc-event-dot {
        background-color: #009688
      }
    }
    &.bgm-red {
      .fc-event-dot {
        background-color: #F44336
      }
    }
    &.bgm-green {
      .fc-event-dot {
        background-color: #4CAF50
      }
    }
    &.bgm-lightblue {
      .fc-event-dot {
        background-color: #03A9F4
      }
    }
    &.bgm-amber {
      .fc-event-dot {
        background-color: #FFC107
      }
    }
    &.bgm-purple {
      .fc-event-dot {
        background-color: #BA68C8
      }
    }
  }
  .fc-list-item-time,
  .fc-list-item-title {
    text-transform: uppercase
  }
}

#todo {
  background: #fcf79d;
  color: #6d6525;
  .card-header {
    background-color: #fcf28b;
    h2 {
      color: #6d6525;
      small {
        color: #6d6525;
      }
    }
  }
  .card-body {
    i {
      &.zmdi-more-vert {
        color: #6d6525;
      }
    }
    .media-body {
      padding-left: 15px;
    }
    .input-helper {
      &:before {
        border-color: #6d6525;
      }
    }
    .checkbox input:checked {
      +.input-helper {
        &:before {
          background-color: transparent;
          border-color: #6d6525;
        }
        &:after {
          transform: scale(3);
        }
      }
    }
  }
}
