  <select class="selectpicker w-100 z-depth-1 " name="cod_febraban" [(ngModel)]="cod_febraban">
    <option [ngValue]="''"> </option>
    <option [ngValue]="001"> Banco do Brasil S.A.</option>
    <option [ngValue]="237"> Banco Bradesco S.A.</option>
    <option [ngValue]="341"> Itaú Unibanco S.A.</option>
    <option [ngValue]="104"> Caixa Econômica Federal</option>
    <option [ngValue]="004"> Banco do Nordeste do Brasil S.A.</option>
    <option [ngValue]="389"> Banco Mercantil do Brasil S.A.</option>
    <option [ngValue]="003"> Banco da Amazônia S.A.</option>
    <option [ngValue]="422"> Banco Safra S.A.</option>
  </select>