<ol class="breadcrumb">
  <li><a href="#">Admin. do Sistema</a></li>
  <li class="active">Paginas</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>

    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Páginas Cadastradas<small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <ngx-datatable id="table"class="material striped" [rows]="paginas" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
          [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
          <ngx-datatable-column [flexGrow]="4" name="Nome" [resizeable]="false"></ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="4" name="Codigo" [resizeable]="false"></ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="1" [cellTemplate]="ativoTmpl" name="Ativo" [sortable]="false" [resizeable]="false"></ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [resizeable]="false"></ngx-datatable-column>
        </ngx-datatable>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Nova Página <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #paginaForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
            <div class="row">
              <div class="form-group m-b-25">
                <div class="col-sm-6 m-b-15" *ngIf="modulos.length">
                  <select class="selectpicker w-100 z-depth-1" data-live-search="true" [data]="modulos" name="_modulo" [(ngModel)]="_modulo">
                                <option value=""> Selecione um módulo...</option>
                            </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group m-b-25">
                <div class="input-group fg-float p-t-10">
                  <span class="input-group-addon"><i class="zmdi zmdi-font"></i></span>
                  <div class="fg-line">
                    <input type="text" name="nome" class="form-control input-sm" autocomplete="off" ngModel required #nome="ngModel" [maxlength]="100">
                    <label class="fg-label">Nome</label>
                  </div>
                </div>
              </div>
              <div class="form-group m-b-25">
                <div class="input-group fg-float p-t-10">
                  <span class="input-group-addon"><i class="zmdi zmdi-link"></i></span>
                  <div class="fg-line">
                    <input type="text" name="codigo" class="form-control input-sm" autocomplete="off" ngModel required #codigo="ngModel" [maxlength]="100">
                    <label class="fg-label">Código</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <button (click)="recalcula()" class="btn btn-primary bgm-cyan btn-sm m-t-10">Adicionar Item</button>
          <button [ngClass]="{'hidden': edit}" [disabled]="paginaForm.invalid" (click)="add(paginaForm, paginas)" class="btn btn-primary btn-sm m-t-10">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="paginaForm.invalid" (click)="update(paginaForm, paginas)" class="btn btn-success btn-sm m-t-10">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="paginaForm.invalid" (click)="remove(paginaForm, paginas)" class="btn btn-danger btn-sm m-t-10">Excluir</button>
          <button (click)="clear(paginaForm)" class="btn btn-default btn-sm m-t-10">Limpar</button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ativoTmpl let-row="row" let-value="value">
  <toggle-ativo [row]="row" [Form]="paginaForm" [update]="update" [data]="paginas" [parseForm]="parseForm"></toggle-ativo>
</ng-template>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, paginaForm)"></action-button>
</ng-template>