<ol class="breadcrumb">
  <li><a href="#">Admin. do Sistema</a></li>
  <li class="active">Modulos</li>
</ol>

<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>

    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Módulos Cadastrados <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div *ngIf="modulos.length">
          <ngx-datatable id="table"class="material striped" [rows]="modulos" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
            [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
            <ngx-datatable-column [flexGrow]="5" name="Nome"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="2" name="Codigo"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="iconeTmpl" name="Icone" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="ativoTmpl" name="Ativo" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false" [cellClass]="'text-center'"></ngx-datatable-column>
          </ngx-datatable>
        </div>
        <div *ngIf="!modulos.length">
        <div class="card-body card-padding">
          <p>Nenhum registro encontrado</p>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Novo Módulo <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #moduloForm="ngForm" novalidate class="m-b-20">
            <div class="row">
              <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
              <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
              <div class="form-group m-b-25">
                <div class="input-group fg-float p-t-10">
                  <span class="input-group-addon"><i class="zmdi zmdi-font"></i></span>
                  <div class="fg-line">
                    <input type="text" name="nome" class="form-control input-sm" autocomplete="off" ngModel required #nome="ngModel" [maxlength]="100">
                    <label class="fg-label">Nome</label>
                  </div>
                </div>
              </div>
              <div class="form-group m-b-25">
                <div class="input-group fg-float p-t-10">
                  <span class="input-group-addon"><i class="zmdi zmdi-link"></i></span>
                  <div class="fg-line">
                    <input type="text" name="codigo" class="form-control input-sm" autocomplete="off" ngModel required #codigo="ngModel" [maxlength]="100">
                    <label class="fg-label">Código</label>
                  </div>
                </div>
              </div>
              <div class="form-group m-b-25">
                <div class="input-group fg-float p-t-10">
                  <span class="input-group-addon"><i class="zmdi zmdi-filter-b-and-w"></i></span>
                  <div class="fg-line">
                    <input type="text" name="icone" class="form-control input-sm" autocomplete="off" ngModel required #icone="ngModel" [maxlength]="100">
                    <label class="fg-label">Ícone</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="moduloForm.invalid" (click)="add(moduloForm, modulos)" class="btn btn-primary btn-sm m-t-10">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="moduloForm.invalid" (click)="update(moduloForm, modulos)" class="btn btn-success btn-sm m-t-10">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="moduloForm.invalid" (click)="remove(moduloForm, modulos)" class="btn btn-danger btn-sm m-t-10">Excluir</button>
          <button (click)="clear(moduloForm)" class="btn btn-default btn-sm m-t-10">Limpar</button>

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #iconeTmpl let-row="row" let-value="value">
  <i class="zmdi zmdi-hc-2x zmdi-{{value}}"></i>
</ng-template>

<ng-template #ativoTmpl let-row="row" let-value="value">
  <toggle-ativo [row]="row" [Form]="moduloForm" [update]="update" [data]="modulos" [parseForm]="parseForm"></toggle-ativo>
</ng-template>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, moduloForm)"></action-button>
</ng-template>