<ol class="breadcrumb">
  <li><a href="#">Produtos e Serviços</a></li>
  <li class="active">Contratos</li>
</ol>
<div class="card">
  <div role="tabpanel" class="tabpanel">
    <ul class="tab-nav" role="tablist">
      <li class="active">
        <a href="#consultar" aria-controls="consultar" role="tab" data-toggle="tab" id="tab-consultar"> CONSULTAR </a></li>
      <li>
        <a href="#cadastrar" aria-controls="cadastrar" role="tab" data-toggle="tab" id="tab-cadastrar"> CADASTRAR / EDITAR </a></li>
    </ul>
    <div class="tab-content p-0">
      <div role="tabpanel" class="tab-pane active" id="consultar">
        <div class="card-header">
          <h2>Contratos Cadastrados <small></small></h2>
        </div>
        <div style="clear:both">&nbsp;</div>

          <ngx-datatable id="table" class="material striped" [rows]="contratos" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
            [limit]="10" [rowHeight]="'auto'" [messages]="{emptyMessage: 'Nenhum registro para exibição', totalMessage: 'registros encontrados'}">
            <ngx-datatable-column [flexGrow]="4" name="Nome">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row._orcamento._cliente.nome }}
              </ng-template>
            </ngx-datatable-column>
             <ngx-datatable-column [flexGrow]="4" name="Arquiteto">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row._orcamento._arquiteto.nome }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" name="Contrato">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button class="btn btn-default ng-scope waves-effect" (click)="geraContrato(row)"><i class="zmdi zmdi-file"></i></button>
              </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1" name="Ficha">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button class="btn btn-default ng-scope waves-effect" (click)="geraFichaEntrega(row)"><i class="zmdi zmdi-receipt"></i></button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [cellTemplate]="editTmpl" name="Editar" [sortable]="false"></ngx-datatable-column>
          </ngx-datatable>
      </div>
      <div role="tabpanel" class="tab-pane" id="cadastrar">
        <div class="card-header">
          <h2>Novo Contrato <small></small> </h2>
        </div>
        <div style="clear:both">&nbsp;</div>
        <div class="card-body card-padding p-b-15">
          <form #contratoForm="ngForm" novalidate class="m-b-20">
            <input type="hidden" ngModel #_id="ngModel" name="_id" autocomplete="off">
            <input type="hidden" ngModel #ativo="ngModel" name="ativo" autocomplete="off">
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Escolha o Orçamento</p>
              <div class="col-sm-8 m-t-15">
                <div class="input-group fg-float p-t-10 w-100" *ngIf="orcamentos.length">
                  <select class="selectpicker w-100 z-depth-1" data-live-search="true" [data]="orcamentos" name="_orcamento" [(ngModel)]="_orcamento"
                    [value]="'_id'" [label]="'identificacao'">
                     <option value=""> Selecione um orçamento...</option>
                  </select>

                </div>
              </div>
            </div>
            <div class="row form-group">
              <p class="c-black f-500 divider-section">Escolha o Tipo de Contrato</p>
              <div class="col-sm-8 m-t-15">
                <div class="input-group fg-float p-t-10 w-100" *ngIf="orcamentos.length">
                  <select class="selectpicker w-100" name="tipoContrato" ngModel #tipoContrato="ngModel" data-live-search="true">
                    <option [ngValue]="''"> Selecione o Tipo de Contrato...</option>
                    <option [ngValue]="'M'"> Contrato de Movelaria</option>
                    <option [ngValue]="'E'"> Contrato de Esquadrias</option>
                    <option [ngValue]="'S'"> Contrato de Serviços</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
          <button [ngClass]="{'hidden': edit}" [disabled]="contratoForm.invalid" (click)="add(contratoForm, contratos)" class="btn btn-primary btn-sm m-t-30">Adicionar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="contratoForm.invalid" (click)="update(contratoForm, contratos)" class="btn btn-success btn-sm m-t-30">Atualizar</button>
          <button [ngClass]="{'hidden': !edit}" [disabled]="contratoForm.invalid" (click)="remove(contratoForm, contratos)" class="btn btn-danger btn-sm m-t-30">Excluir</button>
          <button (click)="clear(contratoForm)" class="btn btn-default btn-sm m-t-30">Limpar</button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editTmpl let-row="row" let-value="value">
  <action-button [icone]="'edit'" (edit)="select(row, contratoForm)"></action-button>
</ng-template>